[2020-05-08 14:21] jdelaporte commented on #818
We could add it to the language links. It would help to have a small png file for the appropriate country/language flag, similar to the other languages.

[2020-05-08 14:54] jmanuelcalvo commented on #818
Hello I have this flag and the name is already included into README's files

[image: col.png]

I am trying to translate 1 exercise per day, Today I upload readme for
sessions 1.1 and 1.2

Greetings

On Fri, May 8, 2020 at 9:21 AM Joanna Delaporte <notifications@github.com>
wrote:

--
<https://www.redhat.com/rhtapps/certification/badge/verify/DIKNNVZZ6HFBHTEAEMVHQ6XRBAAEQU3CUPSQX2KSDXT6RW46LQ3U7PJC

[2020-05-08 17:17] bpayton commented on #711
It looks like this was fixed in this commit https://github.com/ansible/workshops/commit/7d8726f5eda8a10568880b05caf92cf7f942ab38#diff-9877e9645e27c21fd840cf38ff673de0.

[2020-05-08 17:37] #711 closed

[2020-05-08 22:35] liquidat commented on #750
![Seymour-Waits-For-Fry-To-Come-Back-For-Him-On-Saddest-Moment-In-Futurama-History](https://user-images.githubusercontent.com/1998084/81454586-f7610100-918c-11ea-8283-47b127447c9e.gif)

[2020-05-09 03:01] cigamit commented on #750
![giphy](https://user-images.githubusercontent.com/957322/81462343-764b3f00-9177-11ea-98fa-4d08f0f3b2bd.gif)

[2020-05-09 16:04] IPvSean commented on #750
finally, we merged this into `devel` https://github.com/ansible/workshops/pull/829

[2020-05-09 16:04] #750 closed

[2020-05-10 16:32] kenmoini commented on #660
@IPvSean Heh, whoops got lost in the mix - yes, let me get that to ya in short order.

[2020-05-11 07:47] goetzrieger commented on #750
This is sad... I had so many more GIFs lined-up...
![giphy (1)](https://user-images.githubusercontent.com/10989245/81536786-63e62680-936c-11ea-8e57-bba8573c136c.gif)

[2020-05-11 15:02] goetzrieger opened #838 "Let's make the lab guides look great again!"
##### SUMMARY
The way we present the lab guides right now is not too attractive and error-prone in parts. Here is a way to, well, make them look better! ;)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- exercises
- docs

##### ADDITIONAL INFORMATION
The lab guides for the Linux Automation labs where initially authored in asciidoc(tor) by me. I understand why the move to Markdown was nece

[2020-05-11 15:06] IPvSean commented on #838
that is pretty, i want it

one of the other ideas we have been discussing is using patternfly which is used for cloud.redhat.com, redhat.com and ansible tower.  They have GitHub pages setup here-> https://github.com/patternfly/patternfly.github.io

which looks like this-> https://patternfly.github.io/v4/

[2020-05-11 15:12] goetzrieger commented on #838
Patternfly looks pretty cool, sure. But I was under the impression it's mainly for applications. I'm a bit worried that there would be too much overhead involved for simply publishing docs...

[2020-05-11 16:19] cbolz commented on #838
having a quick look at the patternfly documentation, there seems to be nothing on how to use this in Jekyll or any other site generator. Unless you want to write the theme from scratch, this sounds like quite some work.

[2020-05-11 16:26] IPvSean commented on #838
You can see they used GitHub pages to generate that page though. I linked
their assets repo

On Mon, May 11, 2020 at 12:21 PM Christian Jung <notifications@github.com>
wrote:

[2020-05-12 15:41] sdunne opened #847 ""Next Exercise" link is broken"
##### SUMMARY

404 error when you click on the Next Exercise link.

##### ISSUE TYPE

 - Bug Report

##### EXTRA VARS FILE

[code]

e.g. here is an example of an extra vars file we are looking for:
[code]
for more information on the extra vars file please refer to: https://github.com/network-automation/linklight/blob/master/provisioner/README.md

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2020-05-13 02:56] IPvSean commented on #847
duplicate issue https://github.com/ansible/workshops/issues/824

[2020-05-13 02:56] #847 closed

[2020-05-13 04:50] #824 closed

[2020-05-13 14:40] goetzrieger opened #857 "Some ideas regarding the "attendance" feature"
##### SUMMARY
I've tested the attendance feature @cloin implemented, it looks great and is something we definitely need for events, esp when delivered virtually. Here's just some thoughts to make it even more useful.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- provisioner

##### ADDITIONAL INFORMATION
Some things to make it even more useful IMHO:

- Have a switch to disable showing th

[2020-05-13 15:24] IPvSean commented on #818
Thank you for all the PRs, I have released this first batch on the website: https://ansible.github.io/workshops/exercises/ansible_rhel/

[2020-05-13 16:01] jmanuelcalvo commented on #818
Great!!!!

I'll continue with the translations of Ansible Tower

Greetings

On Wed, May 13, 2020 at 10:24 AM Sean Cavanaugh <notifications@github.com>
wrote:

--
<https://www.redhat.com/rhtapps/certification/badge/verify/DIKNNVZZ6HFBHTEAEMVHQ6XRBAAEQU3CUPSQX2KSDXT6RW46LQ3U7PJCSIXUILAFHEDCMJS26CYXW4U5NQYTCNA62RUWOCM34WWBUYQ%3D/>
*[ Jose Manuel Calvo Isaza ] #*
Red Hat Certifications
<https://www.re

[2020-05-14 11:45] IPvSean commented on #807
@dpullman-emergent somehow missed this... let me look at Exercise 2.4

I have thought about this for some time as well.  The reason we have the control node in the inventory is for future-proofing demos.  This matches what we do for network automation workshop.  What I am thinking of doing is removing the limit, but forcing the `hosts: web` in the actual playbooks themselves to make sure this won'

[2020-05-14 12:22] IPvSean commented on #807
fixed in `devel`

[2020-05-14 12:22] #807 closed

[2020-05-14 12:32] dpullman commented on #807
Thanks Sean!

[2020-05-14 18:31] IPvSean commented on #823
will get fixed in the next release, thanks for finding this @nleiva

[2020-05-14 18:32] IPvSean commented on #685
what is plan here @nqb

[2020-05-18 20:42] IPvSean commented on #823
this is released into `master` https://github.com/ansible/workshops/pull/878

[2020-05-18 20:42] #823 closed

[2020-05-18 20:43] IPvSean commented on #818
this is released into `master` https://github.com/ansible/workshops/pull/878

should try doing network automation or windows automation next!

[2020-05-18 20:43] #818 closed

[2020-05-18 20:44] IPvSean commented on #672
I think i have most of these now with this release https://github.com/ansible/workshops/pull/878

please re-open the bug with a specific exercise I missed

answers are stored into `rhel-workshop` directory in the student's home directory for the relevant exercise

[2020-05-18 20:44] #672 closed

[2020-05-18 20:44] IPvSean commented on #794
this is fixed with this release https://github.com/ansible/workshops/pull/878 into `master`, please re-open if you still see an issue here

[2020-05-18 20:44] #794 closed

[2020-05-18 20:47] IPvSean commented on #253
this is really old from linklight....

[2020-05-18 20:47] #253 closed

[2020-05-18 20:47] IPvSean commented on #205
no update in 15 days, must not be an issue?

[2020-05-18 20:47] #205 closed

[2020-05-18 20:48] IPvSean commented on #532
if this is the `rhel` workshop this should be fixed with https://github.com/ansible/workshops/pull/878

[2020-05-18 20:48] #532 closed

[2020-05-18 20:49] IPvSean commented on #617
product demos is an ansible collection: https://github.com/ansible/product-demos

[2020-05-18 20:50] IPvSean commented on #683
another release here with more solutions and fixes https://github.com/ansible/workshops/pull/878, this still doesn't fully close this out....

[2020-05-18 21:29] jmanuelcalvo commented on #818
Sure!!!!

Consider it done!

On Mon, May 18, 2020 at 3:43 PM Sean Cavanaugh <notifications@github.com>
wrote:

--
<https://www.redhat.com/rhtapps/certification/badge/verify/DIKNNVZZ6HFBHTEAEMVHQ6XRBAAEQU3CUPSQX2KSDXT6RW46LQ3U7PJCSIXUILAFHEDCMJS26CYXW4U5NQYTCNA62RUWOCM34WWBUYQ%3D/>
*[ Jose Manuel Calvo Isaza ] #*
Red Hat Certifications
<https://www.redhat.com/rhtapps/certification/verify/?certId=11

[2020-05-18 21:48] jgroom33 opened #879 "paramiko failure"
##### SUMMARY

paramiko not installed failure

##### ISSUE TYPE
 - Bug Report

##### EXTRA VARS FILE

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows WSL Ubuntu 18.04

##### TOWER

engine

##### PLAYBOOK SHORT OUTPUT

[code]

##### PLAYBOOK LONG OUTPUT

<details>

[code]

</details>

[2020-05-18 21:50] IPvSean commented on #879
hey @jgroom33 I need to add aa check for this, in the meantime try to install paramiko http://www.paramiko.org/installing.html

e.g. `pip install paramiko`

[2020-05-18 22:00] jgroom33 commented on #879
i tried that  :)  same result

[2020-05-18 23:14] IPvSean commented on #879
this error here->
`  msg: 'An unhandled exception occurred while running the lookup plugin ''template''. Error was a <class ''ansible.errors.AnsibleFilterError''>, original message: The ipaddr filter requires python''s netaddr be installed on the ansible controller'
`

Is you are missing netaddr, `pip install netaddr`

[2020-05-18 23:16] IPvSean commented on #879
so.... i wonder how the venvs are setup on your machine, i just noticed from @andriusb that you are using windows

[code]

try that, then re-run

[2020-05-19 00:29] IPvSean commented on #827
I just hit this..... I think we have decided collectively from the last call that we need to remove async from AWS calls, even in the best circumstances this is non-ideal design decision

[2020-05-19 00:30] IPvSean commented on #879
any luck?

[2020-05-19 02:45] jgroom33 commented on #879
i installed ansible into the virtual env and it worked

[2020-05-19 02:45] #879 closed

[2020-05-19 02:49] jgroom33 opened #882 "attendance=false not fully honored"
##### SUMMARY

attendance: false does not seem to be honored

##### ISSUE TYPE
 - Bug Report

##### EXTRA VARS FILE

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 18.04

##### TOWER

engine

##### PLAYBOOK SHORT OUTPUT

[code]

[2020-05-19 03:00] jgroom33 commented on #838
I suggest using http://diagrams.net/ to make diagrams.

one of following workflows works well:

1. export as png (check the box "include a copy of my diagram")
   a. with that checkbox it embeds the svg object so it can be updated
2. save as foo.drawio.png

The diagrams can then be both embedded and edited easily.

Aslo, use asciidoctor instead of markdown. It's easier to embed file contents.

[2020-05-19 20:04] IPvSean commented on #882
this is fixed in `devel` now https://github.com/ansible/workshops/pull/881/files

will go into next release

[2020-05-19 20:04] #882 closed

[2020-05-20 12:48] IPvSean commented on #685
@liquidat is this something you want to follow-up on?

[2020-05-20 12:48] IPvSean commented on #660
any update? @kenmoini

[2020-05-20 12:49] IPvSean commented on #309
I think is fixed now, I forgot to close out this issue, please reopen if there is still a bug!

[2020-05-20 12:49] #309 closed

[2020-05-20 12:54] IPvSean commented on #448
oh the actual problem is the turning off / turning on of instances in `aws`.  I have not tested recently... so the private_ips remain the same on reboots? @dmc5179

I have rewrote some parts of the provisioner so honestly just using private IPs between control host to web nodes is not that big of a deal...

I got to do some testing, I like having the public IPs so that folks can actually use their

[2020-05-20 12:57] IPvSean commented on #435
@cigamit what if we dedicate the `student1` workbench for the instructor and he just runs the instructor inventory that can check based on workshop_type in `check` mode that a lesson has been complete.  @Spredzy has been using scripts to grab the solutions for each exercise... we could create a framework here and just start with windows or rhel workshop to test it out?  Can we host this algorithm/

[2020-05-20 13:02] IPvSean commented on #664
so this is done right?

[2020-05-20 13:04] cloin commented on #664
This is done right.

[2020-05-20 13:04] #664 closed

[2020-05-20 13:38] IPvSean commented on #838
i am not opposed to moving to ascii-doc but I figured this might help folks think a bit about options

- github pages supports ascii doc, so that is not a problem
- markdown was initially a requirement of lightbulb
- the "good looking" you linked has more to do with CSS then ascii-doc versus markdown, I think we can replicate the results pretty easily... I have been waiting on funding to hire a CS

[2020-05-20 15:02] cigamit commented on #435
Would partially work, but would still show some "changes" on several of the Windows exercises, since they create survey prompts and can throw just about anything in there.  Some of the lessons also don't have an "exercise", but are manually setting things up in Tower.  Also we have some bonus exercises that result in removing IIS, etc... which would make the original exercise playbook checkmode fa

[2020-05-21 01:37] dmc5179 commented on #448
@IPvSean Yes, the private IP address will remain the same through reboots. Any comms between the control hosts and nodes that uses the private IP space will survive a reboot. It is only the public facing since that needs a consistent IP like the ansible tower node.

[2020-05-21 14:21] dmc5179 opened #887 "Make boinc_auth in community_grid role configurable"
##### SUMMARY

Make boinc_auth a configurable value in the community_grid role to enable users to allocate the WU points to an account that they choose.

##### ISSUE TYPE
 - Bug Report

[2020-05-21 14:27] dmc5179 opened #888 "Update the provisioner README with more details about the IBM Grid Role"
##### SUMMARY

The provisioner documentation appears to have a single reference to the ibm_community_grid role in the same extra_vars.yml file. There doesn't appear to be any other documentation about the role or what it does.

https://github.com/ansible/workshops/tree/devel/provisioner

##### ISSUE TYPE
- Documentation Report

[2020-05-21 14:41] dmc5179 commented on #887
The default value in the role should be set to annoymous or the ibm grid equivalent.

[2020-05-21 14:47] IPvSean commented on #887
If we just document this why would this matter?  We are not getting paid by IBM Community Grid?  It is already completely configurable.  I can just add additional documentation.  It is a totally optional role to run.

[2020-05-21 14:52] dmc5179 commented on #887
There are 2 lines in the documentation that even mention the existence of the role which don't even explain what the role is doing. It is on by default and contributing back to a RedHat team. There are absolutely ethical implications of doing so. If, as you say, it doesn't matter, then there should be no issues setting the default to anonymous. The goal is to contribute to the cause. But it isn't

[2020-05-21 14:59] IPvSean commented on #887
@dmc5179 there is a blog post here explaining everything publicly on the open internet: https://www.ansible.com/blog/ansible-and-ibm-community-grid

I have also been publicly tweeting the data until we can find another technical solution.

if you look through the release PRs you see the release notes for every release.

I think it is disingenuous to use the word ethical here...  The goal is to con

[2020-05-21 15:13] dmc5179 commented on #887
OK, if you feel that it is clear enough that 2 lines in an extra_vars example to disable the role shows users how to configure the role using an extra_vars file to set a role variable that isn't listed as a variable in the role defaults or vars and defaults to the RedHatAnsible team then I'm good to close this issue.

Defaulting distributed compute points back to your own team when this can be run

[2020-05-21 15:21] IPvSean commented on #887
@dmc5179 I want to remind you and the community that these points are purely meaningless internet points to help non-profit causes from the IBM Community Grid.  I am simply tracking all the points the "project" is tracking and it is completely configurable.  We can add more documentation but I really confused by the ethical question.  I will wait for others like @cloin and @liquidat to weigh in on

[2020-05-21 15:24] dmc5179 commented on #887
@IPvSean It's not meaningless if you put out a tweet showing how much you've contributed with your team name on the top.

If it were meaningless you'd have defaulted to anonymous which is what we did in the F@H effort. Because you're right, they are meaningless. But the tweets suggest perhaps they are not meaningless to everyone.

[2020-05-21 15:26] abenokraitis commented on #887
+1 to this

[2020-05-21 15:30] IPvSean commented on #887
![sigh](https://media.tenor.com/images/d8fcca857e34afac73069fb02c5b5b0b/tenor.gif)

I would have hoped that all IBMers and Red Hatters, our partners and community would be happy we are trying.  Sorry that we tried to contribute to make the world a better place.

[2020-05-21 15:35] dmc5179 commented on #887
Hahahaha, that's awesome. I've questioned why you would default the points to your account and not anonymous. And why you would have almost no documentation in the repo about the role. And your response is childish; clearly you don't want to help the world.

The F@H team has done more to help the Covid effort than this team. We've worked directly with the team that runs the entire effort. We've wa

[2020-05-21 15:36] cloin commented on #887
What's the exchange rate between IBM points and Schrute bucks?

[2020-05-21 15:40] dmc5179 commented on #887
@IPvSean I also love that Sean refuses to address the inefficiency of running CPU based WUs at all, let alone running them on t2/t3 instances. You know how many points you get from running 24 cores on FAH CPU WUs is for several days, like 12000. In the same time GPUs get millions of points. So when you look at the Points Per Day (PPD) and the Watts per Point (WPP) you find that CPU compute is so b

[2020-05-21 15:48] rhenshall commented on #887
@dmc5179 I think that's enough now, I'm unsure what point is being made now so suggest the back and forth stops

[2020-05-25 22:34] liquidat commented on #685
@IPvSean Let's wait a few more days for a PR; if we don't get a PR, we just keep things like they are right now and close this issue.

[2020-05-26 05:12] nqb commented on #685
Hi @IPvSean and @liquidat,

Sorry for my late reply, I will be able to work on this issue next friday.

[2020-05-29 08:26] jeevadotnet commented on #115
This worked for me:
`apt install --no-install-recommends python-netaddr`

[2020-06-03 00:10] cloin opened #898 "Demo mode: windows passwords not added to inventory"
##### SUMMARY

Windows workshop doesn't send a default pw, just gets it from ec2 after instance creation. Demo mode doesn't account for this somewhere.

<img width="246" alt="image" src="https://user-images.githubusercontent.com/8515817/83581509-feb9c700-a50c-11ea-9977-4ff3ee4b5dfb.png">

##### ISSUE TYPE

 - Bug Report

[2020-06-03 13:31] ptoal opened #899 "Security workshop provisioner fails due to timeout on "wait for pre-reqs install async""
##### SUMMARY
Security Provisioner can fail due to async yum install with too short a timeout.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
MacOS 10.15.4

##### PLAYBOOK SHORT OUTPUT

[code]

[2020-06-03 14:55] cigamit commented on #899
Why are we even doing an async on that?  Its not saving any time, as the very next task is the async_status task to wait for it to complete.

[2020-06-03 15:21] ptoal commented on #899
I wondered that too, but that's a question for @IPvSean .  I just wanted to make the playbook work again with the minimum disruption.

[2020-06-03 15:24] IPvSean commented on #899
I would prefer not using async it seems not Ansible to me... and it causes
issues with aws api requests , this is all Adams work 😛

On Wed, Jun 3, 2020 at 11:22 AM Patrick Toal <notifications@github.com>
wrote:

[2020-06-04 03:43] ptoal commented on #899
Updated the PR to pull out the async bit.  I presumed it had some future purpose, but I now suspect it was just copy/paste from another playbook.

Tests don't pass, but I used these changes successfully today.

[2020-06-05 02:54] ptoal commented on #899
Fixed by PR #904

[2020-06-05 02:54] #899 closed

[2020-06-08 20:03] tarexveff opened #908 "Typo in Exercise 2.2, Step 6: "Automap1" instead of "Automap""
The "snat" type should be "Automap" not "Automap1" in step 6:

https://github.com/ansible/workshops/tree/devel/exercises/ansible_f5/2.2-error-handling

[2020-06-08 20:06] #908 closed

[2020-06-08 20:06] tarexveff commented on #908
Purposeful typo...disregard :)

[2020-06-08 23:59] hiyokotaisa opened #910 "Translate Ansible Security Automation into Japanese"
##### SUMMARY

Translate Ansible Security Automation into Japanese like other exercises.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- exercises

[2020-06-08 23:59] hiyokotaisa commented on #910
/assign

[2020-06-09 15:24] tarexveff opened #913 "F5 Ansible Workshop Documentation vs Tower pre-populated configuration discrepancies"
##### SUMMARY
I found numerous discrepancies between what the F5 Ansible workshop documentation states and what the provisioner pushes to the Tower instances.

##### ISSUE TYPE
 - Bug Report

##### Notes
**Exercise 4.0**

Step 2:

- Documentation states “Demo Inventory” but the inventory in Tower is called “Workshop Inventory”

Step 3:

- Documentation states “Demo Project,” but the project in Tow

[2020-06-09 15:46] liquidat commented on #888
Hi @dmc5179, we would be happy to have more documentation, for sure. We are open for PRs, are you interested in contributing? I would be happy to co-work on documentation, but my time is limited.

[2020-06-09 15:49] liquidat commented on #887
As discussed, we chose a different approach. Right now all the configuration can be easily turned off. But we are always open for improvements, and if a configurable boinc_auth is requested by the community, why not.

Do you happen to be willing to work on a PR here? My time is limited right now so this has a low priority right now for me.

[2020-06-10 10:44] DNTYO opened #915 "English and Japanese don't match. 2.3-projects and 2.4-surveys"
##### SUMMARY

- At English, 2.3-projects and 2.4-surveys have been updated.
RHEL Ex. 2.3 - 2.4 failure to create Webserver inventory leads to loss of Tower access #807

- The document of Japanese still old.

##### ISSUE TYPE
- Documentation Report

[2020-06-12 17:57] dpullman-emergent opened #918 "Where is the page where instructor can view student number assignments?"
##### SUMMARY

I've provisioned a workshop with the attendance feature and we see the url for the Auto-Assignment website. Where is the page for the instructor to check the student assignments?

"a page where instructor can view student number assignments and name + email association."

Thanks!

##### ISSUE TYPE
- Documentation Report

[2020-06-13 04:29] cigamit commented on #918
Goto list.php and enter the workshop password.

[2020-06-15 19:01] dpullman-emergent commented on #918
Jimmy,

Thanks very much. That works.

Just to reiterate: to get to the instructor page for the attendance feature, if your workshop is myworkshop.rhdemo.io, then browse to login.myworkshop.rhdemo.io/list.php and enter the workshop password.

Thanks again!

[2020-06-15 19:01] #918 closed

[2020-06-17 12:07] ffirg opened #921 "Role exercise 1.7 doesn't work unless we change the default httpd Listen port to 8080?"
##### SUMMARY

In order to configure and use Apache vhosts as in this exercise, I think we need the default httpd service listening on port 8080, not, as by default port 80.

##### ISSUE TYPE
 - Bug Report

##### CONFIGURATION

change /etc/httpd/conf/httpd.conf to
Listen 8080 (from 80)

Not sure if this is a breaking change with RHEL 8.2 nodes?

[2020-06-17 13:47] #915 closed

[2020-06-17 16:05] marktonneson opened #922 "workshops/decks/ansible_windows.pdf slide #47 variable precedence"
##### SUMMARY

Slide #47 Variable precedence the second column numbering repeats column one

I created my own edited version, feel free to copy-paste from here -- https://docs.google.com/presentation/d/1QjIIb5lZbWc2gaPZYNfh2_ED3hu6-FdTkKpXVYYKA9g/edit#slide=id.g75f72e5ca6_0_19

##### ISSUE TYPE
- Documentation Report

[2020-06-17 16:11] marktonneson opened #923 "Windows workshop Ad-Hoc exercise #2"
##### SUMMARY

The documentation for Exercise #2 Ad-Hoc Commands instructs the student to use the "Windows Workshop Inventory"  however the most recent workshop deployment (as of June 17) only has a "Workshop Inventory" defined.  Wasn't sure whether to file as a documentation bug [e.g. use "Workshop Inventory" and select "windows" group] or if the "fix" should be on the deployment.

##### ISSUE TY

[2020-06-17 17:43] marktonneson commented on #922
Also there are a number of reference notation [1] [2] [3] [4] that do not have actual references or links, so they become irrelevant.

[2020-06-17 17:45] marktonneson opened #924 "workshops/decks/ansible_windows.pdf repeat slides #12 & #16"
##### SUMMARY

Slides 12 & 16 "Ansible automates technologies you use" are identical.  Probably don't need both.

##### ISSUE TYPE
- Documentation Report

[2020-06-18 02:56] cigamit commented on #924
I already fixed this a few weeks ago in the Google slide deck, we just haven't exported it and committed it to the repo.

[2020-06-18 03:01] cigamit commented on #922
I have fixed the numbering in the Google Deck now.

In the Google deck the references are actually links, that basically point the associated footnotes here.
https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#id15
We seem to lose that when converting to PDF, so probably should remove them.

[2020-06-19 12:29] goetzrieger opened #926 "Sec Automation: QRadar not recognizing log source"
##### SUMMARY
In Exercise 2.1 of the Sec Automation Workshop the logs forwarded from Snort are not recognized as coming from the correct log source. The logs *are arriving at QRadar* but show up as SIM GENERIC LOG. The Chekpoint logs are fine.

I tried some changes to the log source identifier (other IP, pure IP instead of ip-123-23-12-12) but to no avail.

##### ISSUE TYPE
 - Bug Report

[2020-06-19 13:11] hoang-tranviet commented on #115
@jeevadotnet your command works for me!
Would you mind to explain the rationale behind this. Thanks!

[2020-07-07 15:42] gdykeman opened #936 "Network Workshop doesn't create links to exercises and deck on the landing page"
##### SUMMARY
When the network workshop is provisioned, links to the deck and exercises are no longer there at the top of the landing page

##### ISSUE TYPE
 - Bug Report

##### EXTRA VARS FILE

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[ec2-user@ip-10-0-0-194 provisioner]$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.5 (Maipo)

[2020-07-07 15:42] termlen0 opened #937 "Network automation workshops do not render links to exercises/decks"
##### SUMMARY

Network automation workshops do not render links to exercises/decks. This behavior is observed from both RHPDS and direct provisioning.
##### ISSUE TYPE

 - Bug Report

##### EXTRA VARS FILE

[code]

e.g. here is an example of an extra vars file we are looking for:
[code]
for more information on the extra vars file please refer to: https://github.com/network-automation/linklight/blo

[2020-07-07 15:43] #937 closed

[2020-07-07 15:44] termlen0 commented on #936
Also seen with RHPDS.

[2020-07-14 01:41] VDI-Tech-Guy opened #940 "manage_ec2_instance: F5 Workshop Image upgrade for TMUI Bug CVE-2020-5902"
SUMMARY
F5 Image needs to be pulled to protect for CVE-2020-5920 as per F5 KB: https://support.f5.com/csp/article/K52145254?utm_source=f5sirt&utm_medium=int_email

What will change?

- The Image will go from a Good 25MBPS Image to a Best 25MBPS Image which will allow for additional modules such as APM/ASM/AFM to be deployed.
- The Image will now deploy the latest 13.1.3.4 Image that is protected f

[2020-07-22 12:15] tux1980 opened #942 "Missing Links for the supplemental exercises"
##### SUMMARY
Hi! All the Links for the supplemental exercises are going into /dev/null obviously. Please have the links point to the right destinations. Right now we are getting error "404, not found"

Example:
https://github.com/ansible/workshops/blob/devel/exercises/ansible_network/supplemental/exercises/2-0-config

##### ISSUE TYPE

 - Bug Report

##### EXTRA VARS FILE

[code]

e.g. here is an

[2020-07-30 19:48] cloin commented on #940
I can make a release to main tomorrow. In the future, feel free to open a PR! Contrib guidelines here: https://github.com/ansible/workshops/blob/devel/docs/contribute.md

[2020-08-05 15:24] #940 closed

[2020-08-07 14:58] mlowcher61 opened #945 "Network workshop needs tcp port 8888 open to the control node"
##### SUMMARY
When you run the network_report.yml playbook it creates a website with the statistics from the switch/routers. The webpage is at tcp port 8888. I have verified that the content is there by doing a curl command from the Tower instance ssh session. The security group in AWS is not allowing tcp port 8888.
I tried deploying the workshop from my laptop rather than RHPDS. I ran into the sa

[2020-08-07 17:27] #709 closed

[2020-08-07 18:19] cigamit commented on #945
Would it make more sense to change this port to 8080, which is already open via the security rules?  Several of the other workshop exercises use that port, so to me, it would make sense to standardize on it across all of the workshops.

[2020-08-13 19:43] VDI-Tech-Guy opened #946 "Provisioner Failing on Tower License when towerinstall and autolicense variables are false"
##### SUMMARY
Provisioner failing looking for Tower License when towerinstall: false and autolicense: false when using F5 Workshop

##### ISSUE TYPE
 - Bug Report

##### EXTRA VARS FILE

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### TOWER

Yes Tower code is trying to execute and require license when towerinst

[2020-08-17 19:02] IPvSean commented on #942
back from parental leave, let me investigate

[2020-08-17 19:02] IPvSean commented on #936
back from parental leave, let me investigate.  I have just rebased and I am testing

[2020-08-17 19:04] IPvSean commented on #924
has this been fixed in the PDF? @cloin @cigamit

[2020-08-17 19:44] cigamit commented on #924
Yes, this has been fixed in the PDF

[2020-08-17 19:45] IPvSean commented on #936
confirmed bug
![image](https://user-images.githubusercontent.com/6537680/90437573-9eb0d680-e0a0-11ea-9f25-5514d278bf05.png)

[2020-08-17 19:51] #924 closed

[2020-08-17 20:49] IPvSean commented on #942
i think I have a fix, waiting on some CI testing to complete.  In the meantime you can see the exercises by using the github navigation here: https://github.com/ansible/workshops/tree/devel/exercises/ansible_network/supplemental

[2020-08-18 12:06] #936 closed

[2020-08-18 14:29] IPvSean commented on #942
fixed in `devel` branch, you can see render working on my fork https://ipvsean.github.io/workshops/exercises/ansible_network/supplemental/

[2020-08-18 14:29] #942 closed

[2020-08-18 15:05] IPvSean commented on #946
i am going to let CI run on this... since it affects all workshop types... even though the change is minor i want to be careful

[2020-08-18 15:05] IPvSean commented on #922
@cigamit did you change the PDF as well?

[2020-08-18 15:10] IPvSean commented on #910
hey @hiyokotaisa is this complete? can I close this issue?  Thank you so much for all the hard work.

[2020-08-18 16:51] IPvSean commented on #946
fixed on `devel`

[2020-08-18 16:51] #946 closed

[2020-08-18 16:53] IPvSean commented on #887
more info added here, you can see this now on my fork: https://ipvsean.github.io/workshops/provisioner/#ibm-community-grid

[2020-08-18 16:53] #887 closed

[2020-08-18 16:57] #888 closed

[2020-08-18 17:44] IPvSean commented on #945
ugh we can't use 8080 b/c we use that for vscode

[2020-08-18 18:14] cigamit commented on #945
Ya, I would just leave it at 8888, and just mark it as a network port in the defaults

[2020-08-18 18:30] IPvSean commented on #945
fixed with https://github.com/network-automation/tower_workshop/pull/11

[2020-08-18 18:30] #945 closed

[2020-08-18 20:11] IPvSean commented on #923
fixed on `devel` branch, you can see the fixes on my fork here: http://ipvsean.github.io/workshops

[2020-08-18 20:11] #923 closed

[2020-08-19 00:57] cigamit commented on #922
Yes, the numbering is fixed in the pdf.  The links still don't resolve, but that is a different issue.  Feel free to close this.

[2020-08-19 10:32] hiyokotaisa commented on #910
@IPvSean I will close this issue since the translation has been merged. Thank you for letting me know!

[2020-08-19 10:32] #910 closed

[2020-08-19 15:39] #922 closed

[2020-08-19 16:59] GoKEV opened #955 "Update needed for F5 workshop PDF deck"
#### SUMMARY
PDF deck references "webservers", but lab provisioner calls this group "web".  This is related to PR 954

https://github.com/ansible/workshops/blob/devel/decks/ansible_f5.pdf needs to be regenerated with updated content.

[2020-08-19 17:02] IPvSean commented on #955
i will re-generated and upload, great catch

[2020-08-19 19:22] IPvSean commented on #921
... I confirmed something is up.... digging in

[2020-08-19 20:07] IPvSean commented on #921
hey @goetzrieger I confirmed this does not work.  I beat my head trying to figure out what is going on.... this happened right when I went on parental leave, like some different behavior.  If you do->

[code]

in the vhost.conf it will work.... like somehow Listen 8080 got removed from somewhere, or somehow required... or in a previous exercise it has us add that and I am missing that ....

[2020-08-19 20:10] IPvSean commented on #921
Looks like if you skip https://github.com/ansible/workshops/blob/e7673bfd0b77a9f5c5709b4f4bf0f0046a35a2a7/exercises/ansible_rhel/1.5-handlers/README.md

you will not be listening on 8080 which causes this problem...

I am trying to think of best solution because when I test incoming bugs I go straight to the exercise.  I like the idea of building up exercises but I need to think of how best to tro

[2020-08-19 20:54] IPvSean commented on #921
OK to fix this issue i am going to do two things

- add a solution to exercise `1.5-handlers`
- add troubleshooting section to `1.7-role`

[2020-08-19 20:54] #921 closed

[2020-08-20 14:40] IPvSean commented on #913
fixed in `devel`

the credential installed by default will just "work" with the f5 appliance, no need to have the student setup the credential

[2020-08-21 02:13] VDI-Tech-Guy opened #958 "Tower Install Fails (change ansible tower base URL) when enabled with License"
##### SUMMARY

Trying to Install the F5 Workshop with Ansible Tower, 2 failures occur first with Certificates from Letscrypt and the other that fails the task changing the ansible tower base URL.

##### ISSUE TYPE

 - Bug Report

##### EXTRA VARS FILE

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### TOWER

Yes

[2020-08-24 15:59] IPvSean commented on #818
Hey @zghet would love to have them!  You can see some directions here-> https://github.com/ansible/workshops/blob/devel/docs/contribute.md

You can literally just click edit on github and do it right from your browser, or better yet, create a fork of this repo, and make PRs from your fork.

[2020-08-26 13:34] liquidat commented on #958
@VDI-Tech-Guy Sounds to me like an issue with letsencrypt. Any idea why letsencrypt failed? What does `/var/log/letsencrypt/letsencrypt.log` say?

[2020-08-31 04:22] VDI-Tech-Guy commented on #958
@liquidat - Checked it out further this was due to not having a route53 and it defaulting to redhat.io so i added my own route53 and that solved the cert and provisioning issue with tower.

added workshop_dns_zone to the extravars.

[2020-08-31 04:22] #958 closed

[2020-08-31 11:24] liquidat commented on #958
Glad you figured that out! Thanks for letting us know!

[2020-09-03 09:59] maxrainer opened #965 "network workshop inventory host ansible"
##### SUMMARY
at network workshop, the host "ansible" must not be named "ansible-1"
otherwise the backup playbook ("network_backup.yml") does not work because host ansible has no match

[2020-09-11 20:32] open-sudo opened #969 "Ansible for Windows Automation not creating workshop folder"
##### SUMMARY

I created the  "Ansible for Windows Automation" workshop twice. Both times the following folder was missing:

1) workshop_project is not created in gitlab
2) workshop_project is not created in control node

I am not able to provide environment variables because SSH is not provided. The terminal is not opening from the VS Code. The error message VS Code throws is: The terminal shell

[2020-09-12 00:55] cloin commented on #969
Fixed on devel. Thanks for the issue!

[2020-09-12 00:55] #969 closed

[2020-09-15 15:52] cigamit commented on #857
The attendance page is made to be a direct replacement for the default main page, which is why it shows the same material.

We had planned to move the page  from "login" directly to the main page in the future once more people bought in on the idea.

[2020-09-15 16:07] cloin commented on #857
re: RHPDS, this is actually turned on by default so all RHPDS provisions have the login page.

[2020-09-16 07:51] goetzrieger commented on #857
This issue is slightly dated, so some of this has been addressed (RHPDS default). We have used the attendance feature a good number of times now in Ansible Workshops and it proved to be solid and very helpful. Thanks again for creating it!

I'd still like being able to disable the "header information" completely when running in person/virtual workshops because all the information students need com

[2020-09-16 08:58] goetzrieger commented on #857
Just thinking out loud, couldn't we just have a checkbox on the "admin page" to disable viewing the information and links in the upper part of the site? PHP not being my strong side...

[2020-09-16 19:09] oatakan opened #974 "Gitlab password special character causing deployment failure"
##### SUMMARY
when admin_password contains special characters (i.e. '@), it causes gitlab-client commit step to fail.

##### ISSUE TYPE
 - Bug Report

##### EXTRA VARS FILE

[code]

e.g. here is an example of an extra vars file we are looking for:
[code]
for more information on the extra vars file please refer to: https://github.com/network-automation/linklight/blob/master/provisioner/README.md

#

[2020-09-16 21:48] ShaddGallegos opened #976 "RITM0756412 (vs-code + git Problems with Workshops -> Ansible Windows Workshop)"
##### SUMMARY

Workshops is skipping part of the git role

##### ISSUE TYPE

 - Bug Report

##### EXTRA VARS FILE

[code]

e.g. here is an example of an extra vars file we are looking for:
[code]
for more information on the extra vars file please refer to: https://github.com/network-automation/linklight/blob/master/provisioner/README.md

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-09-17 16:28] cloin commented on #974
Merged. Thanks @oatakan

[2020-09-17 16:28] #974 closed

[2020-09-17 16:30] cloin commented on #857
PHP, you say? That sounds like a @cigamit question! On a related note, I know that @liquidat was looking at removing some links (putty? and something else) from the header to clean up the page.

[2020-09-18 01:26] cigamit commented on #857
We could probably also change the look of the display so that everything else doesn't unnecessarily take up so much of the screen real estate.   Could probably move the login info above everything else if that would help.

[2020-09-18 12:15] liquidat commented on #857
I like @cigamit's idea to put the login data further up!
And I would remove putty and the license page, since we usually deploy with license.

[2020-09-18 13:18] goetzrieger commented on #857
+1, easy win

I'd actually only keep the link to the exercises and maybe the deck. But IMHO Putty, license, template tester, regex tool can go. Students just start to get distracted with these other things.

[2020-09-18 15:27] cloin commented on #976
Confirmed this works on master of workshop repo

[2020-09-18 15:55] cloin commented on #976
This seems to be a problem with RHPDS not pulling updated code from this repo. Closing here since it's not an issue with this code.

[2020-09-18 15:55] #976 closed

[2020-09-21 13:18] tux1980 opened #978 "Ansible Windows Automation - pre-made "workshop_project" not available"
Hi!

in the Workshop "Ansible Automation", there is expected a pre-made Project in Gitlab (Step1, the first Chapter) to import it later on in Tower. Unfortunately, the Gitlab is empty. Not a single Playbook or role. So, without the pre-fabricate Gitlab Project "workshop_project" I can't continue the Lab.

Challenge is, in one week I have to carry out this very Workshop in front of several partners

[2020-09-21 13:21] cloin commented on #978
This has been fixed in this repo for a couple weeks. However, GPTE have forked the repo and haven't applied the fix. Please reach out rhpds admins. Feel free to get in touch with me over email if you need the address.

[2020-09-21 13:21] #978 closed

[2020-10-12 13:47] ffirg opened #984 "remove leading whitespace before --- cut and paste examples in windows workshop content"
##### SUMMARY
in https://ansible.github.io/workshops/exercises/ansible_windows/3-playbook/ remove the leading whitespace from the lines starting --- as people will paste these into the vscode browser and it'll not work.

##### ISSUE TYPE
- Documentation Report

[2020-10-12 13:50] ffirg opened #985 "Windows Inventory name changed"
##### SUMMARY
in https://ansible.github.io/workshops/exercises/ansible_windows/4-projects/  steps 3 + 6 need changing as the inventory is now simply called 'Workshop Inventory'

##### ISSUE TYPE
- Documentation Report

[2020-10-12 13:59] ffirg opened #986 "typo https://ansible.github.io/workshops/exercises/ansible_windows/5-adv-playbook/"
##### SUMMARY

in https://ansible.github.io/workshops/exercises/ansible_windows/5-adv-playbook/
Step 4 under 'What is happening here!?' the module should be win_file not just file

##### ISSUE TYPE
- Documentation Report

[2020-10-12 14:05] ffirg commented on #985
same in exercise 5 as well

[2020-10-15 12:57] cnicol-cyber opened #989 "Wrong host listed in 'Running Ad-hoc commands'"
SUMMARY
 In https://ansible.github.io/workshops/exercises/ansible_rhel/1.2-adhoc/ during 'Step 1 - Work with your Inventory' the user is asked to run ansible with the host pattern 'ansible web, ansible --list-hosts'.

However, if you look at the inventory the host 'ansible' does not exist. As the output is as follows:

[web]
node1 ansible_host=3.123.23.126
node2 ansible_host=52.59.199.209
node3 an

[2020-10-15 17:45] #984 closed

[2020-10-15 17:45] #985 closed

[2020-10-15 17:45] #986 closed

[2020-10-21 03:13] hiyokotaisa opened #998 "Follow the Japanese translations to the latest english version of exercises/ansible_rhel/"
##### SUMMARY
Follow Japanese version to the latest engish version of exercises/ansible_rhel/

##### ISSUE TYPE
- Documentation Report

[2020-10-27 12:20] #998 closed

[2020-10-27 16:29] IPvSean commented on #926
@maxamillion do you know?

[2020-10-27 19:52] IPvSean commented on #965
this should work now, please reopen if you are still hitting this issue

[2020-10-27 19:52] #965 closed

[2020-10-28 14:16] nylou2020 opened #1006 "Variable name typo in ansible_windows.pdf"
##### SUMMARY

Within the "ansible_windows.pdf" deck, there is a variable name typo on pages 52 - 57.
The typo is in the win_service module.
The correct variable should be:     name: " {{ service_name }}"
![ansible_windows_deck_WrongVarName](https://user-images.githubusercontent.com/67385513/97448100-a265a280-1906-11eb-8044-061e34817bf2.png)

No. I did not know this.  Well, I guess I do now.

####

[2020-10-28 14:46] cloin commented on #1006
Fixed. Thanks for the issue @nylou2020 !

[2020-10-28 14:46] #1006 closed

[2020-10-29 03:16] cigamit commented on #898
That's all normally imported from the student inventory, so we may want to start checking there when in demo mode.

This brings up another topic though, in the Windows workshop exercise 1, we have the users create a "Machine Credential" and they will then apply it to all their future playbook runs / adhocs runs.  It currently isn't actually being used though (its a student account which doesn't ex

[2020-10-29 05:43] cigamit commented on #838
For my tokenized instant workshops I have been wrestling with this a bit more.  This is what I currently am doing.

I take the github markdown pages, convert them to html (using [this](https://github.com/KrauseFx/markdown-to-html-github-style) and a quick build script), add a custom style sheet, and then host them on the students tower servers as another url (student#-docs).  This allows me to cus

[2020-10-30 01:51] cloin commented on #838
I really like how this would be just as easy to collab on docs as it is today using markdown. How much time does per student documentation add to provisioning?

[2020-10-30 02:34] cigamit commented on #838
Per student isn't difficult.  Granted, you can't do it the exact way I do it, as I am using my fast provisioner with them already baked into the host (and so I just need a quick sed command on the files to replace the student number).   I did all my building of the html files before provisioning, which is an option we can also do, we would just have to regenerate them after edits to the docs.

In

[2020-10-30 18:15] rhjcd opened #1010 "Ansible Security Workshop Pscx task error"
##### SUMMARY

provisioning issue:

TASK [windows_ws_setup : Install Pscx needed for unzip step later] *************
fatal: [d543-student1-windows_ws]: FAILED! => {"changed": false, "msg": "Problems adding a prerequisite module PowerShellGet No match was found for the specified search criteria and module name 'PowerShellGet'. Try Get-PSRepository to see all available registered module repositories

[2020-10-31 08:40] termlen0 opened #1011 "Server provisioner (devel) is failing"
##### SUMMARY

The provisioner is failing at the "install product demos task". Skipping this task allows provisioning to work. I would recommend that we also include an option to not install demos for this task, using the "demo" extra-var.

##### ISSUE TYPE

 - Bug Report

##### EXTRA VARS FILE

[code]

e.g. here is an example of an extra vars file we are looking for:
[code]
for more information o

[2020-11-02 17:38] rhjcd opened #1016 "RHPDS Security Workshop error"
**PROD GUID with example:  d543**

TASK [windows_ws_setup : Install Pscx needed for unzip step later] *************
fatal: [d543-student1-windows_ws]: FAILED! => {"changed": false, "msg": "Problems adding a prerequisite module PowerShellGet No match was found for the specified search criteria and module name 'PowerShellGet'. Try Get-PSRepository to see all available registered module repositories.

[2020-11-02 18:22] liquidat commented on #1016
@rhjcd We already have a rescue step here: https://github.com/ansible/workshops/blob/0c066b0c3dd23a5b7127801b5279a009d2401dd9/provisioner/roles/windows_ws_setup/tasks/main.yml#L26
Can you please check if that error happened in the rescue step? And if this error brought it into the rescue step to begin with?

I am wondering how long such a loop should wait...

[2020-11-05 01:47] rnunezrgn opened #1019 "Remove contentious terms from Ansible Security Workshop"
##### SUMMARY

Hi All,

Would you help me replacing contentious terms (whitelist/blacklist) from the following Ansible Security Workshop exercises?
https://ansible.github.io/workshops/exercises/ansible_security/1.2-checkpoint/
https://ansible.github.io/workshops/exercises/ansible_security/2.1-enrich/
https://ansible.github.io/workshops/exercises/ansible_security/2.2-threat/
https://ansible.github.

[2020-11-12 17:39] termlen0 opened #1025 "Request for a mini-workshop: "Collections, Hands on""
##### SUMMARY

Topics would cover:
1. Using  collections (Galaxy and Automation Hub) from command line
2. requirement.yml file and Tower
3. Creating a simple collection (migrate a role)
4. Publishing collection to a private AH

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- exercises
- docs
- decks
- demos

##### ADDITIONAL INFORMATION

[code]

[2020-11-12 17:44] cloin commented on #1025
I think I'm working on this. I'm working with the new unified installer on top of the RHEL workshop topology turning one of the web nodes into automation hub. I think that provides a solid foundation for adding in exercises for the rest of the collection content.

[2020-11-13 01:50] abenokraitis commented on #1025
FYI, RHEL folks built a role migration tool as well: https://github.com/linux-system-roles/auto-maintenance#lsr_role2collectionpy

[2020-11-15 05:45] senpot opened #1026 "Fix Japanese pages adjust to the latest English pages of exercises ansible_f5"
##### SUMMARY
Fix Japanese pages adjust to the latest English pages of exercises ansible_f5

##### ISSUE TYPE
- Documentation Report

[2020-11-17 00:34] duboyd opened #1028 "Estimated Lab Time"
It would help to have an estimated Lab Time Completion in the decks to help facilitators who are running this for the first time know how to allot time properly within the context of the overall time allocations. I know it varies, but I think you can get a general estimate.

[2020-11-18 03:38] cigamit commented on #1028
This is what we typically did for the Windows Workshop.  Something like this could be adjusted for all the Workshops.
https://github.com/mgmt-sa-tiger-team/skylight/blob/master/docs/AGENDA.md

[2020-11-18 03:45] cloin commented on #1028
Yeah I think something like this could be beneficial and could also be added to the exercise divider slides of the workshop decks. @cigamit, field SAs would know the timing better. I wouldn’t mind making the proper edits.

[2020-11-18 20:40] RedHatSE opened #1029 "issues with License key for workshop"
issue with license on Ansible it now requires a subscription manfest.
![manifest](https://user-images.githubusercontent.com/58218812/99585511-6fb64380-29b4-11eb-8923-256b31c443d0.png)

[code]

[2020-11-18 20:47] Spredzy commented on #1029
Please make sure you are sticking to 3.7.3 version (or anything <3.8.0) that has been released few hours ago and that introduces a change in the way license are handled.

Default code https://github.com/ansible/workshops/blob/60f5fccabeba7a33d1946a959201136f6b77a579/provisioner/roles/control_node/tasks/tower.yml#L2-L5

[2020-11-19 02:29] cloin commented on #1029
This is a known change in newly released tower version 3.8. We haven’t yet figured out a solution for workshops and will continue with 3.7.3 until then.

[2020-11-19 02:29] #1029 closed

[2020-11-19 15:29] michaelford85 opened #1030 "ansiblenetwork slack self signup link is stale"
##### SUMMARY

The self registration link for ansible network slack no longer works. The link is found in the exercise 1 documentation here: https://ansible.github.io/workshops/exercises/ansible_network/1-explore/

##### ISSUE TYPE
- Documentation Report

[2020-11-19 23:19] VDI-Tech-Guy opened #1032 "IBM_Community_Grid on Web Nodes creating extreme ansible code lags."
##### SUMMARY
When Running the F5 Advanced Workshops lab one of the labs installs Docker/Juiceshop on the Web Nodes as a way to show off more of a real world website rather than the default webpages.

The installation when IBM_Community_Grid is set to true (defaults) the code will take >20 sometimes 40 minutes to execute.  when the IBM_Community_Grid is set to false the code will run in < 2 minute

[2020-11-19 23:20] VDI-Tech-Guy commented on #1032
Please note i do understand you can disable the community grid other ways, this was just to see if theres a way to make the grid work with the code so that the code runs under a respectable amount of time rather than disabling it for labs like RHPDS

[2020-11-20 21:05] IPvSean commented on #1032
hey @VDI-Tech-Guy when you provision your workshops do you see this Job Template in Ansible Tower->
![image](https://user-images.githubusercontent.com/6537680/99849813-34e61400-2b4a-11eb-9b20-bd7943bcd269.png)

[2020-11-24 22:44] IPvSean commented on #838
@goetzrieger we had a UX person come and update our workshop page to match ansible.com
https://ansible.github.io/workshops/

![image](https://user-images.githubusercontent.com/6537680/100159793-66c5e600-2e7c-11eb-9892-f396ae7a26d8.png)

for the "per student" provisioning lets open a separate issue if that is something we want custom docs per student.  The public sector team is super hot on that...

[2020-11-25 08:59] goetzrieger commented on #838
Looks a lot more professional.

This is something we did ages ago with some quick&dirty PHP... I really like this being brought up again. I can't count how often I had to tell students "no, your username is not student<X>" ;)

So while I understand Sean's reservations about students paying even less attention... but hey, if they spare some processing cycles with this unimportant stuff they got mor

[2020-11-25 19:28] IPvSean commented on #1030
fixed in `devel` will make next release

[2020-11-25 19:28] #1030 closed

[2020-11-25 19:28] IPvSean commented on #1026
fixed with release 1027

[2020-11-25 19:28] #1026 closed

[2020-11-25 19:29] IPvSean commented on #1025
@termlen0 isn't there already a collections lab in there.  Look into the ansible_collections folder under exercises.  Is this sufficient?  This was made for Ansiblefest 2020. I have not audited it yet, but it had good reviews from folks.

[2020-11-25 19:31] IPvSean commented on #1028
can you elaborate on what you mean?  Which workshop?  For Network Automation each exercise has an amount of time we created on the slide at the exercise section->
![image](https://user-images.githubusercontent.com/6537680/100273464-d397b980-2f2a-11eb-98ac-c21aed25fb05.png)

do you mean in general?

[2020-11-25 19:31] IPvSean commented on #1010
is this still an issue or did it get fixed? @rhjcd

[2020-11-25 19:33] IPvSean commented on #1011
@termlen0 I am trying to use the Ansible Collection github.com/ansible/product-demos to install Job Templates and remove the complexity out of the provisioner.  I assume galaxy was down or something when this issue happened?  I think it makes more sense to try to use a current version locally rather than me hard-downloading everytime.... but I tend to want to use the collection rather than have ev

[2020-11-25 19:34] IPvSean commented on #579
closing... this will be outside scope of workshop....

[2020-11-25 19:34] #579 closed

[2020-11-25 19:38] IPvSean commented on #838
OK, I am going to bring up student based documentation b/c this has been brought up to me from several angels.  I really need to spend time creating an architecture with the translation team that makes sense to do this... lets track this separately from the look/feel though of documentation.  Please open a new issue for specific look/feel, or for dynamic docs if I don't get to it before someone el

[2020-11-25 19:38] #838 closed

[2020-11-26 15:26] liquidat commented on #1010
This is a random problem which occurs only once in a while. From what we know, this is an error of AWS or the windows DSC repositories, nothing we can fix.

[2020-11-26 15:26] #1010 closed

[2020-12-07 15:38] ffirg commented on #989
Any chance we can get this one fixed ASAP and it's just a text change. We hit this with every workshop and it's a pain! Thanks!

[2020-12-07 15:42] ffirg opened #1045 "RHEL Supplemental Exercises 404"
##### SUMMARY
The link for return to workshop index is broken in https://ansible.github.io/workshops/exercises/ansible_rhel/supplemental/
It points to https://ansible.github.io/workshops/exercises/ which no longer exists.

##### ISSUE TYPE
 - Bug Report

[2020-12-17 20:53] VDI-Tech-Guy commented on #1032
@IPvSean  - Yes i do see that option and the yaml file in the F5-workshop folder, if this is the path we need to add to our lab i am fine with that and we can close this out.

[2020-12-22 02:51] IPvSean commented on #1032
@VDI-Tech-Guy testing fix with PR #1049

[2020-12-22 13:53] #1032 closed

[2020-12-22 18:26] IPvSean commented on #1045
fixed on `devel` will be fixed with next release to `master`, thank you for contributing @ffirg

[2020-12-22 18:26] #1045 closed

[2020-12-22 18:27] IPvSean commented on #1025
looks like Automation Hub PR here will help: https://github.com/ansible/workshops/pull/1044

[2020-12-22 20:16] IPvSean commented on #1011
I got an idea that can hold us over until we get some actual galaxy modules->

[code]

This will try to install newest collection from galaxy, if galaxy is down or doesn't work, it will check locally to look if the collection already exists and use that, then it will fail if that also doesn't work

[2020-12-22 20:52] IPvSean commented on #857
Does anyone have a problem with me fully deprecating the old S3 website since we have this feature now? @liquidat @cloin @cigamit @goetzrieger ?

It seems redundant? We literally default `attedance: true` in the `provisioner/group_vars/all/all.yml` so unless you know its there you are just using both....

[2020-12-22 22:00] #913 closed

[2020-12-22 22:01] IPvSean commented on #857
also @goetzrieger is this what you were thinking?
![image](https://user-images.githubusercontent.com/6537680/102937006-353e3b80-4477-11eb-9e57-c71d52641041.png)

just remove the extra stuff and only have exercises and login?

I can also match the theme to the new one on https://ansible.github.io/workshops and simplify it a bit so it fits better and there is less white space

[2020-12-22 23:07] #1011 closed

[2020-12-22 23:13] IPvSean commented on #857
@goetzrieger if this passes CI testing, can you give me a 👍  to make sure I am on track to make a happy Goetz for Christmas?

[2020-12-23 09:23] goetzrieger commented on #857
Spot on, /me happy! ;)

[2020-12-23 21:00] VDI-Tech-Guy opened #1054 "Route53 still tries to build when dns_type = "none""
##### SUMMARY

When using the dns_type of "none" which is an allowed configuration the provisioner still reaches out to Route53 during provision and teardown using the F5 Workshop.

In scenarios where an API Access Key and ID do not have access to Route53 but can provision with EC2 the provisioner is not possible.

Using the code below in 3 specific files remediates the issue and allows the provis

[2021-01-12 10:49] ffirg opened #1060 "workshop provisioner - workbench info showing URL not IP address info"
##### SUMMARY
workshop provisioned (via RHPDS).
Once assigned a student ID via the signup page, workbench info shows wrong information under SSH access section for IP Address. It's showing:

IP Address: | https://student1.6062.open.redhat.com

##### ISSUE TYPE
Bug Report

[2021-01-26 10:35] ffirg commented on #989
also exercise https://ansible.github.io/workshops/exercises/ansible_rhel/1.1-setup/ still has ansible listed. it should be ansible-1

[2021-01-26 10:35] nmiah1 commented on #989
+1 I've had the same!

[2021-01-26 10:54] ffirg commented on #989
Pull request https://github.com/ansible/workshops/pull/1067 added to address this

[2021-01-26 10:57] ffirg commented on #685
I've put in PR https://github.com/ansible/workshops/pull/1069 to address this short-term. Points to the public latest docs.

[2021-01-28 01:55] rhjcd opened #1070 "Security Workshop: QRadar logs not visible"
##### SUMMARY

-  Logging is not visible in QRadar after completing all prior steps in the demo.
- This issue is in the deployed RHPDS environment for demo, "Ansible Security Demo" in the Ansible Demos catalog.

**Link to instructions:**
Step is 1.6:
https://ansible.github.io/workshops/exercises/ansible_security/2.1-enrich/

**Link to repo:**
https://github.com/ansible/workshops/tree/devel/exercis

[2021-01-29 08:27] liquidat commented on #1070
Confirmed. QRadar does not show any logs at all. We are on it.

[2021-01-29 19:40] liquidat commented on #1070
Issue seems to be related to this: [UPDATED: A QRadar deploy changes on 31 December 2020 can impact product functionality
](https://www.ibm.com/support/pages/node/6395080)

[2021-01-29 23:57] #1070 closed

[2021-02-02 23:04] liquidat commented on #1016
Seems to be a hick up which only rarely comes up. Closing.

[2021-02-02 23:04] #1016 closed

[2021-02-07 17:51] #1060 closed

[2021-02-08 17:59] jgholt opened #1079 "New Logo"
##### SUMMARY

Are you able to update the logos across all the presentations and the Decks?

##### ISSUE TYPE
- Documentation Report

[2021-02-23 13:47] kenmoini opened #1104 "Pull Subscription Manifest dynamically via RH API"
##### SUMMARY
Currently the Ansible provisioners look for a `tower_license.json` or `manifest.zip` file to provide Tower a subscription - it's sometimes difficult to pull in those assets.  A more fluid method would be to dynamically pull in a Subscription Manifest via the Red Hat APIs.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- provisioner

##### ADDITIONAL INFORMATION
Providing a su

[2021-02-23 14:47] kenmoini opened #1105 "Docs around needed Ansible Collections and Pip Modules"
##### SUMMARY
Deploying the Ansible Workshops requires a number of prerequisites that aren't documented such as Ansible Collections and pip modules.

##### ISSUE TYPE
 - Bug Report

##### EXTRA VARS FILE
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Windows Subsystem for Linux, Ubuntu Distro

##### TOWER
Not tested in Tower yet, which would be worse consi

[2021-02-23 16:29] kenmoini opened #1106 "Tags?"
##### SUMMARY
It'd be great to have tags that correspond to the role names that way you could skip a few stages in the provisioning process.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- provisioner

##### ADDITIONAL INFORMATION
See the `provision_lab.yml` Playbook?  Would be great to skip over some steps to speed up debugging and development.
Something like this would work well:

[code

[2021-02-23 16:35] cigamit commented on #1106
While I agree with this (and it made testing way easier in Skylight when we implemented it), I will say that I seem to recall a lot of places in the playbook that utilized variables generated elsewhere in the roles, so skipping certain ones could be problematic (like obviously, you couldn't skip the provisioning one, but different ones generate the urls, etc... and display them later).

[2021-02-23 16:47] kenmoini commented on #1106
Yeah, there are for sure going to be some roles/tasks that can't be actuated via tags, like some provisioning steps that build facts/variables - however, I'm sure configuring /etc/hosts, workshop attendance page, connectivity checks, preflight control node checks, and others could be tagged and give us much more flexibility in dev/debug.  Trying to fix the issue with GitLab right now and waiting f

[2021-02-23 17:42] kenmoini opened #1107 "Get rid of GitLab and provide the assets pre-baked?"
##### SUMMARY
Looks like the gitlab_server role is having some difficulties around authentication to the GitLab API and thus provisioning the Ansible for Windows workshop is failing.

Scanning through the [workshop curriculum](https://ansible.github.io/workshops/exercises/ansible_windows/) it seems like GitLab is just used for a temporary SCM while the students copy/paste chunks of YAML into files

[2021-02-23 17:53] cigamit commented on #1107
Actually, the users aren't meant to be copy and pasting code, they are to be typing it out.  You don't learn anything by copy and pasting or by using prebuilt assets.  An SCM is an important part of using Tower in a real world environment, the Windows Workshop simulates how they will actually be using Tower.

[2021-02-23 18:01] cloin commented on #1107
Windows workshop is unique in that I believe it's the only one that uses SCM while SCM is required for AAP. The students' content is only available to execute by committing to SCM.

[2021-02-23 18:13] kenmoini commented on #1107
@cigamit Yeah, that'd be great, but if you believe users are actually taping out the YAML vs copy/pasting then well, I got a bridge to sell ya lol

Obviously SCM is an important part of workflows in Ansible Tower, can't do much outside of Ad-hoc commands without it eh? Is the goal to show how a user does elementary interactions with a Git repo over and over or to demonstrate the value of Ansible?

[2021-02-23 18:37] cigamit commented on #1107
Oh, I know there are a few that copy and paste, and some people that are running behind I encourage it for them to catch up, but as the person that wrote the windows workshop and having delivered it to 1000s of people, I can tell you that a majority of them type it out.  I know because I watched them do it (pre-covid) and I helped fixed all the mistakes they made while typing it out.  I even tell

[2021-02-23 18:41] cloin commented on #1107
I must have just been confused by the title of the issue. The idea with a central SCM was to show a more realistic approach. We can pre-populate the student repos if there's value in that. In order to make changes to the content in the repo however, we'll still have to show how to commit to scm.

One of the primary goals in modifying the original workshop and bringing windows automation into the f

[2021-02-23 18:43] cigamit commented on #1107
No from what I gather, he is more talking of dropping the gitlab server completely, and moving to a public pre-populated repo that is a single repo used by all the students (aka, they no longer write playbooks at all).

[2021-02-23 18:57] cloin commented on #1107
IMO with this workshop type already being one of the least resource consuming workshop types, I think we gain more flexibility by keeping the current architecture including a node reserved for whatever SCM app makes sense (gitlab today).

There’s a lot of functionality that can be demonstrated with this current setup not just workshop interaction but use case demonstration (things like gitops) tha

[2021-02-23 19:11] kenmoini commented on #1107
@cigamit Woah that's awesome, didn't know you made the workshop, thanks for all your hard work!  I too used to proctor in-person workshops from coast-to-coast, from private customer engagements to packed ballrooms at the Marriott with 80-100 folk - boy that was a blast!  I sure don't miss having to run around the room debugging spaces-related issues though.

Anywho, seems like I struck a nerve, so

[2021-02-23 19:11] #1107 closed

[2021-02-23 19:18] kenmoini commented on #1106
Closing here, will implement in a different fork.

[2021-02-23 19:18] #1106 closed

[2021-02-23 19:23] #1104 closed

[2021-02-23 19:23] #1105 closed

[2021-02-23 20:04] ffirg commented on #1107
Just to chip in here as well. Used the windows workshop (via RHPDS) for 22 windows admins today. I made it clear they will learn best by typing line by line as it'll focus minds of the task in hand. I like the gitlab implementation as it is a more realistic situation and it would be great to use similar in RHEL/networking as well. I think if there were correct playbooks they could run if they get

[2021-02-23 21:37] IPvSean commented on #1105
why did you close? you figured out a workaround?

[2021-02-23 21:47] kenmoini commented on #1105
Yes, I found the fixes and have implemented in my fork of the repo.  I closed it because I'm not comfortable working with this community and contributing my input.

Feel free to pull the patch from my fork.

[2021-03-04 16:39] florianmoss opened #1115 "Inventory is not loaded by default for RHPDS deployment"
##### SUMMARY
We just deployed the workshop for a customer but the Inventory was not pre-loaded as per instructions here:

https://ansible.github.io/workshops/exercises/ansible_rhel/2.2-cred/

We had to manually create an inventory and name it. This is the first time this happened, it seems like something is broken in the initial deployment process.

The environment with this issue is up until tom

[2021-03-04 16:44] ffirg commented on #1115
@florianmoss if you provisioned through RHPDS can you also raise with their admins? They may be able to track down where the issue is through the logs. I've had this same issue but so far have not been able to track it down.

As an interim, I have written this heath robinson solution for checking and optionally correcting the linux based workshops - https://github.com/ffirg/workshop_checks

[2021-03-04 19:04] cgrimm-redhat opened #1116 "Ansible Security Workshop Exercise 1.2, Step 2.2 http to https"
##### SUMMARY

Ansible Security Workshop, Exercise 1.2, Step 2.2  shows http://<windows-wsIP>/myrtille and it should be an https as the system is not listening on port 80, it would also be worth pointing out that there is going to be a certificate validation error that shows up and will need to be accepted.

##### ISSUE TYPE
- Documentation Report

[2021-03-04 19:07] cgrimm-redhat commented on #1116
Apologies it is Exercise 1.2, Step 2.2

[2021-03-17 15:25] Seandersont opened #1122 "Ansible workshop slides include broken example in inventory"
The second half of this line, found on pg 34 of the ansible for rhel workshop slide deck does not work

node-[1:30] ansible_host=10.42.0.[31:60]

I believe this example is included in several of the other workshops, but the range on the variable does not work, and the ini (or yml) file will only parse it as a string. ie. for node-1, ansible_host will be 10.42.0.[31:60], not 10.42.0.31 as this sugg

[2021-03-18 10:12] hiyokotaisa opened #1123 "Broken README.md link in exercises/ansible_windows"
##### SUMMARY
There are broken README Link in all of exercises/ansible_windows contents.

##### ISSUE TYPE
- Documentation Report

[2021-04-04 16:00] #1123 closed

[2021-04-07 08:02] type954 opened #1128 "[Ansible Provisioner] Error in docker build"
An error occurs when building with the dockerfile below.
What is the problem?

docker build --no-cache -t "ansible_workshop:dockerfile" .
-------- dockerfile --------
FROM python:alpine

RUN set -ex && apk –update add rpm openssh-client openssl ca-certificates wget && apk –update add –virtual build-dependencies python3-dev libffi-dev openssl-dev cargo build-base && pip3 install –upgrade pip pycryp

[2021-04-08 15:17] IPvSean opened #1129 "add SSL to handout website"
##### SUMMARY
https:// links won't work to your DNS zone, and there is no SSL key, I am sure this has caused problems for SAs...
![image](https://user-images.githubusercontent.com/6537680/114052332-f4b6d200-985b-11eb-8ca8-887092232521.png)

![image](https://user-images.githubusercontent.com/6537680/114052448-0f894680-985c-11eb-9047-f48e89fa5795.png)

##### ISSUE TYPE
 - Bug Report

##### EXTRA VAR

[2021-04-20 18:50] dpullman-emergent opened #1141 "RHEL workshop Ex 1.7 next exercise link points to itself"
##### SUMMARY

In the RHEL workshop, exercise 1.7 Roles, the next exercise link at the bottom of the page points to 1.7-role. It should point to 2.1-intro.

##### ISSUE TYPE
- Documentation Report

[2021-04-21 15:11] dpullman-emergent opened #1143 "RHEL Ex 1.5 listen on port 8080 should be left in place"
##### SUMMARY

In RHEL Ex 1.5 the listen port setting is changed to 8080. In #921 it was noted that Ex 1.7 expects the setting to still be 8080, and troubleshooting was added.

However, the current line: "Feel free to change the httpd.conf file again and run the playbook." might be leading to the issue in Ex 1.7.

Suggest changing that line to: "Leave the setting for listen on port 8080. We'll use

[2021-04-21 18:23] #1141 closed

[2021-04-21 19:11] dpullman-emergent opened #1145 "Windows Ex 8 variable names are missing for chocolatey install"
##### SUMMARY

The variable names for the task Install specific versions of packages sequentially are blank for name, version, and loop. Also the variables for the debug message in the last task are missing completely.

This appears to be the exercise image on https://ansible.github.io/workshops/exercises/ansible_windows/8-chocolatey/. I'm seeing the variable names on github.com version of the REA

[2021-04-21 20:45] #1143 closed

[2021-04-22 20:48] dpullman-emergent commented on #1145
Sorry, should have included expected version.
  - name: Install specific versions of packages sequentially
    win_chocolatey:
      name: "{{ item.name }}"
      version: "{{ item.version }}"
    loop: "{{ choco_packages }}"

  - debug:
      msg: Python Version is {{ check_python_version.stdout_lines[0] }} and NodeJS version is {{ check_node_version.stdout_lines[0] }}

Attached screenshot of REA

[2021-04-22 21:21] rhjcd opened #1150 "RHPDS: Ansible Windows Demo/Workshop failure to provision - windows_ws_setup task"
##### SUMMARY

In RHPDS the Ansible Security Workshop and Demo fail to deploy because of a failed windows_ws_setup TASK. There are SAs planning this workshop tomorrow and a fix is needed prior to the event(s).

##### ISSUE TYPE

 - Bug Report

##### OS / ENVIRONMENT

##### TOWER

##### PLAYBOOK SHORT OUTPUT

[code]

[2021-04-22 21:55] cigamit commented on #1150
Seems to be an issue with the vsredist2010 package on chocolatey, not an issue on our end.   All we could do is add "ignore_checksums" which is really not the best idea.  Granted, from what I know, RHPDS only updates during the monthly release, so I doubt any fix would get in their before that.

[code]

[2021-04-22 22:47] rhjcd commented on #1150
thank you @cigamit , although there is an SA planning to deliver this workshop tomorrow morning for 45 participants. Is there something we can do in the short term? tia

[2021-04-22 22:47] IPvSean commented on #1150
@rhjcd pushing a "workaround" right now that @cigamit might judge me on...

[code]

[2021-04-22 22:47] rhjcd commented on #1150
terrific, thank you @IPvSean !!

[2021-04-22 23:41] #1150 closed

[2021-04-30 15:31] IPvSean commented on #1079
@jgholt hoping to get the new tech deck today which has new branding

[2021-04-30 15:54] IPvSean commented on #729
@termlen0 do you still use this demo?

@cloin anything we can recycle here or should I go ahead and deprecate this old demo or wait until your new one is up?

[2021-04-30 15:55] IPvSean commented on #1115
@florianmoss please open an issue if this happens again, and try @ffirg check, that will let me know what is happening!

[2021-04-30 15:56] IPvSean commented on #685
merged! closing issue, sorry for late rely, doing some cleanup

[2021-04-30 15:56] #685 closed

[2021-04-30 15:57] IPvSean commented on #683
i think this issue is now too old... i think we should start a new discussion soon with EEs happening, but its time to close this issue

[2021-04-30 15:57] #683 closed

[2021-04-30 18:26] termlen0 commented on #729
I do use this demo. Used it even last week. It still works as described

Sent from my iPhone

[2021-04-30 21:09] #729 closed

[2021-05-06 10:17] owainow opened #1159 "Rhel_90 Workshop exercise navigation not working."
### Problem Summary

The navigation at the bottom of each exercise for previous or next seems to reference a previous repo structure and as a result, returns a 404 when clicked. Needs to be updated with the new structure (1.2 -> 2) across all exercises. Cheers.

### Issue Type

Bug

### Extra vars file

N/A

### Ansible Playbook Output

N/A

### Ansible Version

N/A

### Ansible Configuration

N/A

[2021-05-20 12:14] saito-hideki opened #1169 "hosts section in apache_install.yml is inconsistent with workshop-examples"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

**Description:**
In 2.3-projects/README.md,  the`hosts` section in apache_install.yml is inconsistent with workshop-examples. However, we already have the PR(ansible/workshop-examples/pull/3) for `workshop-examples`.

So I opened this issue for tracking for the status of the PR(ansible/workshop-examples/pull/3).

**ansible/

[2021-05-24 16:55] cloin opened #1173 "Windows gitlab get_certificate failure"
### Problem Summary

Intermittent failure here:
![image (2)](https://user-images.githubusercontent.com/8515817/119380658-0549cd00-bc8f-11eb-9e62-361eccda0e1b.png)

https://github.com/ansible/workshops/blob/c784d0d288c1678870b79b5feb11c86f29b08735/provisioner/roles/gitlab-server/tasks/add-users.yml#L13

### Issue Type

Bug

### Extra vars file

ci

### Ansible Playbook Output

screenshot above

###

[2021-05-25 20:04] ffirg commented on #1145
This has been fixed in a previous issue I raised but github.io needs a refresh to pick up.

[2021-05-25 20:05] ffirg opened #1178 "https://ansible.github.io/workshops/exercises/ansible_windows/ needs a refresh for RHPDS labs"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

https://ansible.github.io/workshops/exercises/ansible_windows/ needs a refresh so it picks up the fix for exercise 8 missing loop info and the new workflow exercise 9.

[2021-05-25 21:33] craig-br opened #1180 "Add additional dependencies needed to run workshops using AWS provisioner"
### Area

Other

### Proposed Changes

Creating the Windows workshop using the AWS provisioner needs `pywinrm requests requests-credssp` packages to successfully install.

`docs/setup.md` needs to reflect this

[2021-05-26 12:42] #1180 closed

[2021-05-26 13:02] dpullman-emergent commented on #1145
I agree, you can see the correct names in the code, it's just github.io that is lacking.

[2021-05-27 13:36] craig-br commented on #1173
It looks like letsencrypt is throttling the CI

`[2021-05-25T00:37:00.327Z]     There were too many requests of a given type :: Error creating new order :: too many failed authorizations recently: see https://letsencrypt.org/docs/rate-limits/`

Windows workshop successfully deployed on my AWS account, pointing toward this being specific to CI.

[2021-05-27 15:50] rhjcd opened #1183 "RHPDS - PROD_ANSIBLE_WORKSHOPS: insufficient resources"
### Problem Summary

Per email:

[] we have received the below request from a trainer.

I conducted a workshop today of Ansible for Linux Administration for 25 students. The instance types for the ansible's control node, tower, and vscode (all the same node) experienced oom-killer outages. This was disruptive to the student's experience. Can we get the resources increased for the ansible control n

[2021-05-27 16:00] IPvSean commented on #1183
@rhjcd how often is this coming up? is this common or a one-off?  Is it coming up for more than one type of workshop?

[2021-05-27 16:51] rhjcd commented on #1183
it's been brought to my personal attention 4 times through ServiceNow tickets which are unfortunately now archived.

[2021-06-09 08:58] #857 closed

[2021-06-10 22:30] #617 closed

[2021-06-14 16:25] IPvSean commented on #1183
should be solved with https://github.com/ansible/workshops/pull/1193, please re-open if this persists

[2021-06-17 14:01] nirvkot opened #1196 "ERROR! Invalid callback for stdout specified: community.general.yaml"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

Hello for all!
Some issue with chapter workshops/exercises/ansible_rhel/1.3-playbook/
"Writing Your First Playbook".
After:
[student<X>@ansible-1 ansible-files]$ ansible-playbook apache.yml
We have an error like:
ERROR! Invalid callback for stdout specified: community.general.yaml

The workaround that we've found - change "

[2021-06-21 08:21] cbolz commented on #1196
I just ran into this as well. It seems to be caused by commit 9d0d8693c24a6b8323c8645e39614517bae06f1c

We could also instruct the student to install the callback plugin with
[code]

Personally, I would leave it out entirely since I believe this is too much of a challenge too early in the workshop.

[2021-06-21 08:22] goetzrieger commented on #1196
@IPvSean

[2021-06-21 11:22] abenokraitis commented on #1196
Sean is on PTO this whole week. @liquidat  could you take a look?

[2021-06-21 19:19] liquidat commented on #1196
@goetzrieger @cbolz @cloin I am about to remove the callback line from the `ansible.cfg` - or do you see any place where this is used throughout the workshop?

[2021-06-21 19:23] liquidat commented on #1196
Looks like the networking workshop uses this:
https://ansible.github.io/workshops/exercises/ansible_network/3-facts/

[2021-06-22 03:33] 9strands commented on #1183
Hi, @IPvSean - would the following INC I received today from a student qualify for this?  Student lab info is for title: PROD_ANSIBLE_DEMOS-555c in the deployer.

Note from Student:
The nodes are under-resourced and an OpenSCAP scan cannot be completed without being terminated by process `oom-kill` from the kernel.

[code]

[2021-06-22 09:39] bosebc opened #1198 "Ansible Linux Automation Workshop (L) - student-node(s) not accessible"
### Area

Other

### Proposed Changes

User says..
**I noticed that studen17-node3 and student45-node3  with respective IPs 54.93.218.250 and 3.67.69.51 are not responding to simple ssh connection and I have no way to restart those instances.**

Here is the guid. Service "RHPDS-RH-idhaoui-redhat.com-PROD_ANSIBLE_WORKSHOPS-22ab_COMPLETED"

Team, kindly check. Thanks

[2021-06-22 17:16] trevorbryant commented on #1183
@IPvSean, I know that this is now closed but I want to provide you with a response to your question. I have attempted to use this demo about four times within ~2 months now unsuccessfully. The scan does initiative with return with `Killed`, with the above logs in `/var/log/messages`.

[2021-06-23 00:38] cloin commented on #1198
Hello! Thank you for opening an issue. Please provide additional information related to provisioning of this workshop. We are not able to retrieve logs by guid.

[2021-06-23 00:46] cloin commented on #1183
Reopening to have a place to document OOM issues on RHEL workshops. Changes to instance types as requested will affect operating budget. Thanks for the help!

[2021-06-23 03:18] 9strands commented on #1183
We have another user report that seems to be related to this as well: TASK0987679

[2021-06-23 03:22] 9strands commented on #1183
@cloin - how are BOINC processes running on the infrastructure?  I find that quite unusual, especially as that would cause a likely large increase in CPU, memory, and disk utilization - I have worked at orgs which had this on each person's workstation and I recall the issues that we had whenever there was high load on the desktop.

[2021-06-23 03:23] 9strands commented on #1183
Another one from the EMEA regions: TASK0987385

[code]

[2021-06-23 04:09] heatmiser commented on #1183
I saw a similar issue today for the RHEL Automation workshop...4 to 5 students experienced losing connectivity with their instances around exercises 1.4 to 1.5.  Not even doing anything real intensive.  I logged into a lab env and worked through the lab exercises, I lost connectivity while on exercise 1.5 during the ftp deploy playbook while it was running the fact scans.  After that node3 was unr

[2021-06-23 11:26] cloin opened #1199 "When using Controller, code-server not reachable"
### Problem Summary

From the workshop access page, clicking code server link takes you to Controller login page not code-server. Maybe an nginx configuration from Tower --> Controller that needs to be revisited

### Issue Type

Bug

### Extra vars file

sean.yml

### Ansible Playbook Output

sean.stdout

### Ansible Version

sean.0

### Ansible Configuration

sean.cfg

### Ansible Execution Node

[2021-06-23 13:54] cloin commented on #1198
@bosebc need more info here or will close out.

[2021-06-23 14:07] cloin commented on #1183
@9strands re: BOINC: this should be disabled when a student begins interacting with the environment. Additionally, there should be a job template that allows for disabling BOINC.

[2021-06-23 14:09] bosebc commented on #1198
Thanks @cloin for your reply. I've informed the requestor to follow-up on this issue.
Please keep this for few days. If no reply then you may proceed to close.
Thanks

[2021-06-23 14:10] cloin commented on #1198
@bosebc Sounds good. Closing now but you can reopen any time with additional information.

[2021-06-23 14:10] #1198 closed

[2021-06-23 14:41] cloin commented on #1183
I will make a release later today setting `community_grid` (BOINC) to false and monitor this issue.

FYI, this is what I'm talking about: https://github.com/ansible/workshops/tree/devel/provisioner#ibm-community-grid

[2021-06-23 14:58] cloin commented on #1183
However, `community_grid` is not on the control node, so not going to affect memory conditions on tower. Any reference to nodes not control nodes should be separate issues. Although, @heatmiser @9strands, my previous comment might resolve the issues you've seen on the inventory nodes.

[2021-06-23 18:07] heatmiser commented on #1183
@cloin In the case of the Smart Management workshop, we were already disabling `community_grid` for our test deployments as we worked through building out the workshop content. Apologies, I now understand that this issue is for the control node...I mistook the conversation about OpenSCAP scans failing to mean that this issue was trying to address all nodes.  Do you recommend that @9strands and I o

[2021-06-24 00:33] #1196 closed

[2021-06-24 00:44] cloin commented on #1183
@heatmiser @9strands yeah lets create a separate issue for that, please. Looks like most of the reports here are for the inventory nodes and not control nodes.

Closing. Please reopen for specific nodes (control nodes and inventory nodes use different instance types and would need to be adjusted separately if there are recurring issues).

[2021-06-24 00:44] #1183 closed

[2021-06-24 05:53] idhaoui commented on #1183
@cloin Even if you try to stop the boinc-client, some of nodes are not responsive... they become sporadically available and I didn't spend the time to understand why. This week alone I had 3 labs and the only way forward to reach a stable state with the setup is by disabling boinc-client in all nodes (aka node1, node2, node3).
If it's really needed to be there, I would suggest to have it disabled

[2021-06-24 15:59] #1173 closed

[2021-06-24 20:36] VDI-Tech-Guy commented on #1054
Hey @IPvSean  noticed that this is still an issue with the teardown script it doesnt seem to be a problem with the build but the areas on teardown still try to access Route53

workshops/roles/code_server/tasks/main.yml
- name: remove dns entries for each vs code instance
  include_tasks: teardown.yml
  when: teardown|bool

and

workshops/roles/workshop_attendance/tasks/main.yml
- name: Teardown at

[2021-06-30 15:54] cloin commented on #1183
@idhaoui this was done in #1200 and released to master in #1201

[2021-07-05 23:42] anshulbehl commented on #1178
https://github.com/ansible/workshops/pull/1206 has been merged to fix this.

[2021-07-05 23:42] #1178 closed

[2021-07-08 11:07] Doriangaensslen commented on #115
for Virtual Env you can use
`pip3 install netaddr`

[2021-07-14 11:12] hiyokotaisa opened #1213 "Playbook in exercises/ansible_windows/7-win-patch is not able to execute"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

`site.yml` is not able to execute because `default` filter behavior. When we specified `reboot: '{{ reboot_server | default(yes) }}'`, it will fail because Ansible is not able to recognize it is boolean.

[code]

It needs to be specified `default(true)`. Might be related this fix planned to be merged into 2.11:
https://github.com

[2021-07-19 16:49] #1213 closed

[2021-07-27 19:36] VDI-Tech-Guy opened #1224 "F5 Workshops failing with undefined Variable offline_token"
### Problem Summary

Did multiple deployments in the past and never had this issue, something new looks like new variable required?

### Issue Type

Bug

### Extra vars file

ec2_region: us-west-2
ec2_name_prefix: MMABIS-AnsibleGH-Test
student_total: 1
workshop_type: f5
admin_password: supersecretpass!
doubleup: no
## Optional Variables
dns_type: aws
workshop_dns_zone: "mydemo.net"
create_login_pa

[2021-07-27 21:16] IPvSean commented on #1224
nice catch.... I am working on getting workshops moved to AAP 2.0....

try doing this...->

[code]

effectively instead of downloading from `ansible.workshops` on galaxy this will install the collection locally from the version you are on and should work.  I have been quickly interating the galaxy roles as I am testing them and this usually wouldn't affect others b/c they are using our RHPDS....

[2021-07-27 21:34] VDI-Tech-Guy commented on #1224
Hey @IPvSean - The Fix didnt work

[root@Elysium workshops]# ansible-galaxy collection build --verbose --force --output-path build/
Using /root/.ansible.cfg as config file
Created collection for ansible.workshops at /git/workshops/build/ansible-workshops-0.0.10.tar.gz
[root@Elysium workshops]# ansible-galaxy collection install --verbose --force-with-deps build/*.tar.gz
Using /root/.ansible.cfg as

[2021-07-28 06:04] benblasco opened #1226 "Linux workshop: Spend less time creating files, more time learning Ansible"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

In my experience, the Linux Automation workshop is a bit too long, and occasionally gets lost in needless detail that detracts from the overall message and also consumes time that could be better spent understanding the fundamental concepts.

One such example of this is all the html and other template type files that need t

[2021-07-30 00:11] rlopez133 commented on #1224
Hi @VDI-Tech-Guy ,

There is a new required variable "offline_token" added in order to authenticate calls to the Red Hat APIs.

Within your extra_vars.yml you'll need to add the following:
[code]

Just go to that https://access.redhat.com/management/api site, generate your offline token and supply it in the offline_token variable within extra_vars.yml and you should be good to go.

[2021-07-30 00:39] rlopez133 commented on #1224
@VDI-Tech-Guy - I also just realized you will need 2 additional parameters as well in the extra_vars.yml

[code]

This corresponds with your access.redhat.com account and is needed for podman authentication in order to download the Execution Environment images.

[2021-07-30 00:40] rlopez133 commented on #1224
If you need further assistance, feel free to reopen the issue.

[2021-07-30 00:40] #1224 closed

[2021-08-04 15:00] craig-br opened #1242 "Fedora 34 - One time setup instructions fail"
### Problem Summary

Instructions for One-time setup do not work on Fedora 34
docs/setup.md

`[root@centos ~]# dnf install python3-boto \
python3-boto3 \
python3-netaddr \
python3-passlib \
python3-pywinrm \
python3-requests \
python3-requests-credssp`

Provisioner fails at `grab boto version` task

### Issue Type

Bug

### Extra vars file
workshop_type: security
security_console: qradar

offline_

[2021-08-05 07:45] craig-br commented on #1242
@craig-br

[2021-08-05 07:51] craig-br commented on #1242
Fix is to install using pip. I'll create a PR after ASA workshop is updated

[2021-08-06 17:17] calvingsmith opened #1244 "provisioning smart_mgmt workshop fails"
### Problem Summary

when attempting to provision the smart management workshop, I get the following error:

[code]

Investigating I found that removing the redhat.satellite requirement from http://github.com/willtome/automated-smart-management/collections/requirements.yml (after forking it, of course) got me past that step but then I get the following error:

[code]

### Issue Type

Bug

### Extr

[2021-08-13 15:53] rlopez133 commented on #1242
Hey @craig-br , this shouldn't need pip and we should avoid pip when possible.

Looking at Fedora 34, `python3-boto` is in the System repo.

[code]

[2021-08-22 15:01] kabab commented on #115
for python3 `sudo apt install --no-install-recommends python3-netaddr`

[2021-08-23 12:26] IPvSean commented on #1244
@heatmiser can you take a look?

[2021-08-24 09:40] craig-br commented on #1242
Hey @rlopez133 Did you have any issues following the guide? If not, I'll close it

[2021-08-24 12:42] rlopez133 commented on #1242
@craig-br I didn't for finding those packages on F34.

[2021-08-24 16:41] craig-br commented on #1242
@rlopez133 Thanks. Closed

[2021-08-24 16:41] #1242 closed

[2021-08-26 05:53] benblasco opened #1265 "Arista EOS_banner module not accepting multi-line banners"
### Problem Summary

Network workshop exercise 7 has users using a Tower Survey to create a banner

https://github.com/ansible/workshops/tree/devel/exercises/ansible_network/7-controller-survey

The job template fails on EOS devices when the user applies a multi line banner due to a known (and resolved issue) in the eos_banner module:

https://github.com/ansible-collections/arista.eos/issues/36
ht

[2021-09-02 07:39] heatmiser commented on #1244
@IPvSean @calvingsmith PR #1270 submitted

[2021-09-07 09:36] rhmk opened #1271 "Ansible Windows Automation Workshop: Wrong links in Exercise description"
### Area
Ansible Windows Automation Workshop

### Proposed Changes
The exercise pages have implemented wrong links:
Page: https://ansible.github.io/workshops/exercises/ansible_windows/3-playbook/
the following links have to be replaced:

- https://docs.ansible.com/ansible/latest/win_feature_module.html with https://docs.ansible.com/ansible/latest/module/win_feature_module.html
- https://docs.ansib

[2021-09-07 09:39] rhmk opened #1272 "Wrong description"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

In page  https://ansible.github.io/workshops/exercises/ansible_windows/5-adv-playbook/:

The Tower description table lists at  «OPTIONS»   «USE FACT CACHE»
The screenshot and lab it is  «ENABLE FACT CACHE».

[2021-09-07 23:48] ptoal opened #1274 "Networking lab in devel - Exercise 1 - ansible.cfg missing from home directory"
### Area

Ansible Network Automation Workshop

### Proposed Changes

Documentation in Ex1 Step 3 refers to ~/.ansible.cfg, but the config appears to be /etc/ansible/ansible.cfg

[student1@ansible-1 ~]$ ansible --version
ansible [core 2.11.2]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/student1/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']

[2021-09-07 23:52] ptoal commented on #1274
Was looking at old docs, but using devel branch.  Closing issue.

[2021-09-07 23:52] #1274 closed

[2021-09-08 15:20] #1244 closed

[2021-09-14 19:10] craig-br opened #1281 "Using control_node role in Instruqt fails with `workshop_type` var undefined"
### Problem Summary

Building Instruqt controller image fails with `workshop_type` var undefined. using the `control_node` role in the workshop collection.

#### Issue logged in Instruqt project
https://github.com/ansible/instruqt/issues/49

### Issue Type

Bug

### Extra vars file

NA

### Ansible Playbook Output

[code]

### Ansible Version

NA

### Ansible Configuration

NA

### Ansible Executi

[2021-09-14 19:43] #1281 closed

[2021-09-14 20:11] craig-br opened #1284 "Error building automation-controller Instruqt image. Missing var `ec2_name_prefix`"
### Problem Summary

#### Summary
Error message when building the automation-controller image. Missing `ec2_name_prefix` variable.

#### Error
[code]
[code]
#### Cause
https://github.com/ansible/workshops/blob/91ee454bdcbee33d551a96431b15de3ce4e37569/roles/control_node/tasks/20_all_workshop.yml#L62

[code]

### Issue Type

Bug

### Extra vars file

NA

### Ansible Playbook Output

[code]
[code]

[2021-09-16 12:14] anshulbehl opened #1293 "Explain the f5_ee in f5 workshop"
### Problem Summary

Explain the f5_ee in f5 workshop

### Issue Type

Feature Request

### Extra vars file

XX

### Ansible Playbook Output

XX

### Ansible Version

EE

### Ansible Configuration

f5 config

### Ansible Execution Node

CLI Ansible (Ansible Core)

### Operating System

RHEL

[2021-09-16 17:52] craig-br commented on #1284
Fixed with Sean's PR removing var requirement

[2021-09-16 17:52] #1284 closed

[2021-09-16 17:54] craig-br opened #1295 "Security workshop exercises not parsing html"
### Area

Ansible Security Automation

### Proposed Changes

https://github.com/ansible/workshops/pull/1292

The stylesheet added to the top of security workshop exercises is being parsed as txt in GH pages.

Example:
https://github.com/ansible/workshops/tree/devel/exercises/ansible_security
![image](https://user-images.githubusercontent.com/42829306/133661212-c59eaed6-f59f-411b-a161-53f87fd1b8b1.

[2021-09-20 20:10] nleiva opened #1297 "Provisioner fails to install created collection"
### Problem Summary

Hi, I'm hitting an error on the second task of the Provisioner (`provisioner/provision_lab.yml`) in the `devel` branch: "install newly created collection".

[code]

You can reproduce this from the `provisioner` folder

Task 1.

[code]

Task 2.

[code]

### Issue Type

Bug

### Extra vars file

N/A

### Ansible Playbook Output

This is what the logs report

[code]

### Ansible

[2021-09-20 20:43] nleiva commented on #1297
It works with `ansible-core` (2.11). we need to update the readme file:

---
## Requirements

* This provisioner must be run with Ansible Engine v2.8.0 or higher.
---

[code]

[2021-09-20 21:29] nleiva opened #1298 "Provisioner can't find roles from installed collection"
### Problem Summary

Hi, for some reason ansible can't find the roles from the `ansible.workshops` collection we manually install.

The collection is installed successfully at `/tmp/bwrap_3588_ge1s3ud_/awx_3588_q8g33bz3/requirements_collections/ansible_collections/ansible/workshops` in the example below.

[code]

However, this path is not in the search path for roles, from the error below.

[code]

[2021-09-22 11:47] Chetan-07 opened #1303 "Multiple Ansible Demo & workshop failing on RHPDS."
### Problem Summary

We have multiple failures for Ansible Windows Workshop, Ansible Linux Automation Workshop (L, S, and T), and Ansible RHEL Demos on RHPDS.  Sharing below details for your reference.

Failed GUID's: b4d8, 21ab, 1333.

TASK [/tmp/ansible-workshops-b4d8/ansible_agnostic_deployer/ansible/workdir/ansible-workshops/provisioner/../roles/control_node : install ansible development branc

[2021-09-22 11:58] IPvSean commented on #1303
hey @Chetan-07 not filling out data like this->

[code]

does not help me fix the issue... please take the time to fully fill out the ticketing template next time

[2021-09-22 12:10] Chetan-07 commented on #1303
@IPvSean I'm sorry! This was my first time creating issues on github. I'll take care from next time.

[2021-09-22 12:10] IPvSean commented on #1303
task identified here: https://github.com/ansible/workshops/blob/master/roles/control_node/tasks/venv.yml#L28

the way this works is there is a virtualenv created for demo purposes that is a rolling release on the ansible devel.  Now that ansible has split between ansible community distribution and ansible-core, and ansible-core has moved forward to python 3.8 this is causing an issue (upstream iss

[2021-09-22 12:18] IPvSean commented on #1303
@Chetan-07 I "think" I know how to fix this, but in the interest of time I already merged PR https://github.com/ansible/workshops/pull/1304

This will immediately be picked up by RHPDS.... (I usually do a lot more testing...) can you retry?

In parallel I am testing it out... but I don't want to have people wait another hour

[2021-09-22 12:25] IPvSean commented on #1303
I tested this from my control node, I am running
[code]

it worked first try with the fix I made... let me know if this works

[2021-09-22 12:28] Chetan-07 commented on #1303
I'm ordering few demos to test.

[2021-09-22 14:05] IPvSean commented on #1303
![image (117)](https://user-images.githubusercontent.com/6537680/134358821-787c4595-5e0b-42d7-8501-15756016ef52.png)

awesome, closing issue

![boom](https://media2.giphy.com/media/LrN9NbJNp9SWQ/giphy-downsized.gif?cid=6104955ea8e1a0e5b108b9d7d1c3151d14039e5787ee5352&rid=giphy-downsized.gif&ct=g)

[2021-09-22 14:05] #1303 closed

[2021-09-22 22:20] #1295 closed

[2021-09-24 18:32] IPvSean commented on #1298
note from conversation with @nleiva this is Tower 3.8 which explains the bubblewrap....... I am not 100% sure what is going on.... but I am guessing that where Tower 3.8 "looks" for collections and where the `ansible-galaxy` command "puts" them don't match....

@nleiva if you can try this for me, it would be appreciated:
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#coll

[2021-09-24 18:51] nleiva commented on #1298
I tried it without success (https://github.com/nleiva/workshops/blob/devel/provisioner/ansible.cfg#L20).

It's like ansible is unaware the it needs to look for roles in the collection folder. I'll try a couple of things to see if I can come with a workaround.

[2021-09-24 19:38] #1297 closed

[2021-09-24 19:38] IPvSean commented on #1297
thanks! solved with https://github.com/ansible/workshops/pull/1318

[2021-09-24 19:59] IPvSean commented on #1272
assigning to @cloin :)

[2021-09-24 20:00] IPvSean commented on #1271
assigning to @cloin

[2021-09-24 20:01] IPvSean commented on #1265
@benblasco will it be OK if you can wait one more week?  AAP 2 will use a newer collection on `devel` branch and should work fine

or do we need to also support workshop on AAP 1.2?  I would love to just start removing AAP 1.2 workshops ASAP

[2021-09-24 20:02] IPvSean commented on #1226
hey @benblasco sorry for delays on some github issues, we have been heads-down with AAP 2 refresh for all workshops

tagging our awesome TMM @rlopez133 to take a look, he literally mentioned to me today that he wanted to do this

[2021-09-24 20:02] IPvSean commented on #1199
is this still an issue or can we close it @cloin ?

[2021-09-24 20:09] IPvSean commented on #1169
issue is solved by merge of 1169

[2021-09-24 20:09] #1169 closed

[2021-09-24 20:12] IPvSean commented on #1128
I somehow never saw this issue go by... but I have no idea what you are trying to do?  We don't support a dockerfile anywhere I am aware?  I just did a search on dockerfile and came up with only an exercise that @rhcreynold had done... I am not sure if his team is still using that workshop type or not?

Can you provide more info @type954

[2021-09-24 20:19] IPvSean commented on #1079
@jgholt

Network Automation workshop is ready for review: https://docs.google.com/presentation/d/1PIT-kGAGMVEEK8PsuZCoyzFC5CIzLBwdnftnUsdUNWQ/edit?usp=sharing

RHEL Automation workshop is ready for review: https://docs.google.com/presentation/d/1O2Gj5r_fhjM5Pi5FizrZRInmZ37IlpeKPTP6jSZxEKs/edit?usp=sharing

[2021-09-24 20:23] IPvSean commented on #1145
this looks solved now: https://ansible.github.io/workshops/exercises/ansible_windows/8-chocolatey/

sorry for slow response... been heads down with Ansiblefest 2021... please reopen if this is still an issue @ffirg or @dpullman-emergent

[2021-09-24 20:23] #1145 closed

[2021-09-24 22:07] benblasco commented on #1265
No rush! My only comment is that AAP 1.2 workshops should stick around until people are comfortable with 2.0 workshops *and* bugs have been ironed out.

[2021-09-24 22:07] benblasco commented on #1265
Always happy to contribute etc.

[2021-09-24 22:08] benblasco commented on #1226
Can work with you on this one @rlopez133

[2021-09-27 05:16] 9strands commented on #1303
FYI, all Ansible labs are failing currently - seems to have occurred from Friday through to now.

[2021-09-27 09:42] Chetan-07 opened #1320 "Ansible Workshops and Demos failure on RHPDS."
### Problem Summary

Currently affected demos are: Ansible Compliance Demos, Ansible Developer Demos, Ansible F5 Demos, Ansible F5 Automation Workshop, Ansible Automation Workshop (all T shirt sizes), Ansible Network Demos, Ansible RHEL 90 Tower Workshop, Ansible Security Automation, Ansible Security Demos, Ansible Windows Demos, Ansible Windows Workshop

### Issue Type

Bug

### Extra vars file

[2021-09-27 12:10] IPvSean commented on #1320
hey @Chetan-07 is this still an issue?  I saw some reports this morning about EPEL and was curious if this was a separate issue or related.

Also the extra_vars file.... in the ticket is being filled out incorrectly.  Here is example files of what I am looking for->
https://github.com/ansible/workshops/tree/devel/provisioner/sample_workshops

[2021-09-27 12:25] Chetan-07 commented on #1320
@IPvSean The issue still exists.  This has impacted a lot of workshops and demos.  Request you to check on this.

Btw, thanks for a reference link

[2021-09-27 12:38] IPvSean commented on #1320
@Chetan-07 I did a very bad thing... (direct commit to `master`) but can you try again?

Something must have reved on `dnf` and/or RHEL8 to not have a correct version of `certbot` so I added a task->

https://github.com/ansible/workshops/blob/master/roles/issue_cert/tasks/main.yml#L19

[2021-09-27 13:02] Chetan-07 commented on #1320
Ordered few demos for testing.

[2021-09-27 13:14] IPvSean commented on #1320
hey @Chetan-07 sounds great, if it fails on a new task let me know and I can troubleshoot

[2021-09-27 13:18] IPvSean commented on #1303
@9strands different issue, next time open an issue and we can investigate

[2021-09-27 13:23] Chetan-07 commented on #1320
Hey @IPvSean
Ansible Linux Automation Workshop (S) Failed on the below task:

**TASK** [/tmp/ansible-workshops-3702/ansible_agnostic_deployer/ansible/workdir/ansible-workshops/provisioner/../roles/populate_tower : add tower credential into ansible tower] ***
fatal: [3702-student1-ansible-1]: FAILED! => {"changed": false, "msg": "value of kind must be one of: aws, controller, gce, azure_rm, opensta

[2021-09-27 13:25] Chetan-07 commented on #1320
Ansible Windows Workshop also failed on same Task

[2021-09-27 13:38] IPvSean commented on #1320
🤔  what version of ansible are you running?  It looks like someone revved up the version of awx collection... i got an idea though...

[2021-09-27 13:40] IPvSean commented on #1320
retry now @Chetan-07

[2021-09-27 14:11] Chetan-07 commented on #1320
Testing

[2021-09-27 14:28] Chetan-07 commented on #1320
@IPvSean Ansible Windows Workshop and  Ansible Linux Automation Workshop (S) failed on another Task:

[code]

-----------------------------------------------------------------------------------
**Ansible Network Automation Workshop (T)**

[code]

[2021-09-27 14:40] IPvSean commented on #1320
yup same error, let me investigate....

[2021-09-27 14:50] IPvSean commented on #1320
testing a fix....

[2021-09-27 15:07] IPvSean commented on #1320
ok @Chetan-07 try it now....

[2021-09-27 16:29] Chetan-07 commented on #1320
@IPvSean  Got 3 success
Ansible Linux Automation Workshop (S) -- PROD_ANSIBLE_WORKSHOPS-c508_COMPLETED
Ansible Linux Automation Workshop (S) -- PROD_ANSIBLE_WORKSHOPS-f46d_COMPLETED
Ansible Network Automation Workshop (T) -- PROD_ANSIBLE_WORKSHOPS-29e0_COMPLETED

[2021-09-27 16:46] Chetan-07 commented on #1320
@IPvSean Thanks for looking into this. CI's has been enabled.
Can you summarize what was the issue for failure? will be helpful for Post Mortom report

[2021-09-27 19:21] rlopez133 commented on #1226
Hey @benblasco ! Yeah I'm going to take a look at the stuff you built and see if I can at the very least pump some of that into the environment.

[2021-09-27 21:12] IPvSean commented on #1320
@Chetan-07 for this particular issue (#1320) there was two problems->

1.  the task `TASK [/tmp/ansible-workshops-cb03/ansible_agnostic_deployer/ansible/workdir/ansible-workshops/provisioner/../roles/code_server : issue cert] ***` was failing because upstream RHEL8 and/or certbot and/or python had some sort of disagreement and the version of python-requests was not correct, e.g. what RHEL8.4 insta

[2021-09-27 21:12] #1320 closed

[2021-09-29 13:52] rlopez133 commented on #1226
@benblasco - check that PR out and by all means I'm open to feedback to make it better.

[2021-10-06 10:34] craig-br opened #1334 "Security workshop - Section 2 Exercise 2.2 Snort logs to QRadar unknown source"
### Problem Summary

**Section 2 - Exercise 2.2 - Step 2.6**
https://aap2.demoredhat.com/exercises/ansible_security/2.2-threat/
- Requires user to whitelist attacker IP  and add Snort log source to QRadar.
- QRadar changes were not deployed and the playbook creates an incorrect log source identifier

### Issue Type

Bug

### Extra vars file

NA

### Ansible Playbook Output

NA

### Ansible Version

[2021-10-06 21:20] glimpsovstar opened #1339 "Windows Workshop doesn't include "win_iis_website" module"
### Problem Summary

Yesterday, we were running a public workshop and came to a bug, with exercise 5 and 6, where it requires "win_iis_website" to work, and got below error;
![image](https://user-images.githubusercontent.com/4734987/136284229-b3fd1eed-4552-46ae-82b9-a6b2f6ea82bb.png)

### Issue Type

Bug

### Extra vars file

don't have it handy

### Ansible Playbook Output

ERROR! couldn't resolv

[2021-10-07 14:45] IPvSean commented on #1334
did you get this fixed with your PR @craig-br ?  close?

[2021-10-07 14:49] IPvSean commented on #1199
I think this is fixed now @cloin can we close?

[2021-10-07 14:51] #1334 closed

[2021-10-07 14:56] cgrimm-redhat commented on #1116
yes this is still an issue.

[2021-10-07 15:02] cloin commented on #663
Was just an idea. Nothing working right now. Closing.

[2021-10-07 21:45] rhjcd opened #1342 "Ansible RHEL exercise garbled HTML"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

The documentation rendered at the following link has HTML issues at the bottom of the page in the **Tip** section:

https://aap2.demoredhat.com/exercises/ansible_rhel/2.3-projects/

[2021-10-08 09:56] amayagil opened #1343 "Use Spanish flag for Spanish language"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

In the body of the exercises page, you are presented with a different set of languages options, while Portuguese states clearly that it is the brazilian variant (hence using its flag) in the case of Spanish, it is not stating that the variant being used is the one in Colombia, but it is using its flag. I strongly recommend

[2021-10-08 09:58] amayagil opened #1344 "Next Exercise link broken in Exercise 1"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

fix url to the proper one

[2021-10-08 10:12] amayagil opened #1345 "Next Exercise and Previous Exercise links broken in Exercise 2"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

link https://aap2.demoredhat.com/exercises/ansible_rhel_90/1.1-setup is broken
link https://aap2.demoredhat.com/exercises/ansible_rhel_90/1.3-playbook is broken

[2021-10-08 10:40] amayagil opened #1346 "Step 4: shows a variable not defined output when running the playbook"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

define "service" variable

[2021-10-08 10:41] amayagil opened #1347 "Step 5: after running the “check_httpd.yml” playbook you are told to expect a 403 error"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

after running the “check_httpd.yml” playbook you are told to expect a 403 error, but instead, a 200 is shown, which is due to different causes than the ones explained in the guide.

No variable is being referenced.

[2021-10-08 10:45] amayagil opened #1348 "Next Exercise and Previous Exercise links broken in Exercise 3"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

link https://aap2.demoredhat.com/exercises/ansible_rhel_90/1.2-thebasics is broken
link https://aap2.demoredhat.com/exercises/ansible_rhel_90/1.4-variables is broken

[2021-10-08 10:47] amayagil opened #1349 "Previous Exercise link broken in Exercise 5"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

link https://aap2.demoredhat.com/exercises/ansible_rhel_90/1.4-variables is broken

[2021-10-08 10:55] amayagil opened #1350 "Exercise - Linux System Roles"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

Step 4: Launching the job fails: role 'redhat.rhel_system_roles.timesync' was not found

[2021-10-08 10:56] amayagil opened #1351 "Exercise - Red Hat Insights"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

Step 4: Launch the job: No “SERVER / Red Hat Insights” Job is shown

[2021-10-08 12:31] IPvSean opened #1352 "windows agenda"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

still references to tower in the agenda, and the folder names
![image](https://user-images.githubusercontent.com/6537680/136557209-ea15441c-9b30-4174-8acd-cc20d600493e.png)

[2021-10-08 12:42] #1349 closed, assigned to IPvSean

[2021-10-08 17:12] IPvSean commented on #1348
fixed and updated documentation

[2021-10-08 17:12] #1348 closed

[2021-10-08 17:17] #1345 closed, assigned to nobody

[2021-10-08 18:33] IPvSean commented on #1351
@amayagil how did you find the insights exercise?  This was a prototype exercise that should NOT be in the agenda.

[2021-10-08 18:36] IPvSean commented on #1352
please @cloin !!!!

[2021-10-08 18:41] IPvSean commented on #1343
@amayagil originally it was just a homage for the contributor.  The person that translated the Spanish was from Colombia so I just reflected the flag... /shrug

I can change it... but I think all the translations are out of date so I might wait until someone takes a look.  My understanding is that you speak Spanish fluently?  Can you help us out 🙏

[2021-10-11 02:14] glimpsovstar commented on #1339
@IPvSean We were using RHPDS.. initially when we did the deployment we could only see only AAP2 windows workshop, but now I can see both AAP2 and old one.

[2021-10-11 13:48] #1339 closed, assigned to cloin

[2021-10-11 17:15] IPvSean commented on #1122
hey roger did this get removed? @rlopez133

[2021-10-11 18:17] #1116 closed

[2021-10-11 18:46] craig-br commented on #926
@goetzrieger @IPvSean

- Fixed by updating the playbook to use ` identifier: "{{ hostvars['snort']['ansible_fqdn'] }}"` instead of regex module.
- The correct log identifier is the hostname `snort`

Controller exercises were also updates in the `workshop-examples` repo
https://github.com/ansible-security/workshop-examples/pull/4

[2021-10-11 21:20] IPvSean commented on #1298
did you try @nleiva ?  I think as long as we have 2.11 and use requirements

[code]

[2021-10-13 09:43] craig-br commented on #1019
Thanks for pointing this out

@IPvSean I've put some time aside this week to fix

[2021-10-13 16:33] tonykay opened #1369 "AAP2 Security Workshop windows instance creation times out"
### Problem Summary

RHPDS based deployments have seen a number of failures of the AAP2 Security Workshop.

It looks like a timeout on the

### Issue Type

Bug

### Extra vars file

workshop_type: security
security_console: 'qradar'

## Optional Variables
create_login_page: true
autolicense: true
towerinstall: true
dns_type: aws

### Ansible Playbook Output

TASK [manage_ec2_instances : Wait for a

[2021-10-14 09:42] heimdallreport opened #1370 "wrong code snippet"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

in the https://aap2.demoredhat.com/exercises/ansible_rhel_90/3-playbook/
---
- name: Check Status
  hosts: node1
  become: true
  vars:
    package: "httpd"

  tasks:
    - name: Check status of  service
      service_facts:
      register: service_state

    - debug:
        var: service_state.ansible_facts.services[".serv

[2021-10-14 15:04] amayagil opened #1371 ""Previous Exercise" broken link"
### Area

Ansible Network Automation Workshop

### Proposed Changes

At the end of "Exercise 9: Creating a Workflow" (https://aap2.demoredhat.com/exercises/ansible_network/9-controller-workflow/) "Previous Exercise" link (https://aap2.demoredhat.com/exercises/ansible_network/8--controller-rbac/README.md) is broken

[2021-10-14 15:06] amayagil opened #1372 ""Previous Exercise" broken link"
### Area

Ansible Network Automation Workshop

### Proposed Changes

At the end of "Exercise 8: Understanding RBAC in Automation controller
" (https://aap2.demoredhat.com/exercises/ansible_network/8--controller-rbac/README.md) "Previous Exercise" link (https://aap2.demoredhat.com/exercises/ansible_network/7--controller-survey/README.md) is broken

[2021-10-15 17:11] craig-br opened #1374 "Online editor - Ansible extension fails running ansible-lint"
### Problem Summary

- When editing a playbook, an error message appears at the bottom right of the online editor UI:

[code]
![image](https://user-images.githubusercontent.com/42829306/137526409-6c9a67d5-7c30-412c-9448-784d1098eb81.png)

### Issue Type

Bug

### Extra vars file

NA

### Ansible Playbook Output

NA

### Ansible Version

2.11.5

### Ansible Configuration

NA

### Ansible Execution

[2021-10-15 17:24] cloin opened #1375 "redo workshop diagram -->"
https://github.com/cloin/ansible-workshops/blob/6082716f009bcc10c16a8e7f1446728f5602faf7/exercises/ansible_windows/README.md#L25

[2021-10-15 17:27] cloin opened #1376 "Update optional exercises in windows workshop"
https://github.com/cloin/ansible-workshops/blob/6082716f009bcc10c16a8e7f1446728f5602faf7/exercises/ansible_windows/README.md#L36

[2021-10-18 11:17] cbolz opened #1379 "Broken Link in Windows Workshop - Ad hoc commands"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

the ToC on https://aap2.demoredhat.com/exercises/ansible_windows/ has "Exercise 2 - Ad-hoc commands" - which is a broken link

[2021-10-18 12:38] #1374 closed, assigned to nobody

[2021-10-18 13:42] IPvSean commented on #1379
![image](https://user-images.githubusercontent.com/6537680/137743271-168834b9-7009-440f-a371-f05900cfc043.png)

[2021-10-18 14:39] forenkla opened #1381 "Ansible Linux Workshop Exercise 2.6 Workflows"
When creating the workflow, the suggestion is to put the "Node.js deploy"-template first and the "Web App Deploy"-template second. This results in a failure, if you switch them around it works.

[2021-10-18 14:51] amayagil opened #1382 ""Previous exercise" link broken"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

on AAP 2 - Linux Automation Workshop, exercise https://aap2.demoredhat.com/exercises/ansible_rhel/1.3-playbook/ at the bottom, "Previous exercise" (https://aap2.demoredhat.com/exercises/ansible_rhel/2-thebasics) link is broken

[2021-10-18 14:53] amayagil opened #1383 ""Next exercise" link broken"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

on AAP 2 - Linux Automation Workshop, exercise https://aap2.demoredhat.com/exercises/ansible_rhel/1.3-playbook/ at the bottom, "Next exercise" (https://aap2.demoredhat.com/exercises/ansible_rhel/4-variables) link is broken

[2021-10-18 17:43] IPvSean commented on #1382
fixed and live in https://aap2.demoredhat.com/exercises/ansible_rhel/1.3-playbook/

[2021-10-18 17:43] #1382 closed

[2021-10-18 17:43] #1383 closed, assigned to nobody

[2021-10-18 17:44] IPvSean commented on #1372
fixed and live on https://aap2.demoredhat.com/exercises/ansible_network/8-controller-rbac/

[2021-10-18 17:44] #1372 closed

[2021-10-18 17:47] IPvSean commented on #1371
fixed and live on https://aap2.demoredhat.com/exercises/ansible_network/9-controller-workflow/

[2021-10-18 17:47] #1371 closed, assigned to nobody

[2021-10-18 17:56] IPvSean commented on #1370
thank you for finding these @heimdallreport  and @forenkla !!

What happens here is that we render the markdown into the website using Github pages.  The technology "under the hood" is just Jekyll.  Jekyll uses the same templating engine that Ansible does.... so if we don't properly escape a code snippet (or rather just simple YAML) it will try to render it in Jekyll instead of just leaving it alo

[2021-10-18 17:56] #1370 closed

[2021-10-18 18:00] #1352 closed, assigned to cloin

[2021-10-18 18:32] #1350 closed, assigned to IPvSean

[2021-10-18 19:10] #1379 closed, assigned to cloin

[2021-10-19 09:31] cbolz opened #1390 "Windows workshop does not explain how to git push"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

in `exercises/ansible_windows/3-playbook/README.md` we ask the student to push the

[code]

Since some students might not know, how to push the code, it would be good to add more details. In particular one has to click the three dots ("...") next to the commit and refresh icons and click on "push". There will be a confirmation di

[2021-10-19 21:41] craig-br opened #1393 "control_node role copies instructor inventory to multiple instances"
### Problem Summary

- When deploying multi-student workshops, `ansible.workshops.control_node` copies `instructor.txt` file to all student instances that contain `student1` in the hostname,
- This should only be copied to `student1-ansible-1` instance

### Issue Type

Bug

### Extra vars file

Provisioned via RHPDS

### Ansible Playbook Output

[code]

### Ansible Version

ansible 2.11

### Ansib

[2021-10-19 21:56] craig-br opened #1394 "control node role intermittently fails to pull supported EE images"
### Problem Summary

**Task**
`ansible.workshops.control_node : Pull supported images`

**Workshop**
- AAP 2 security workshop, but should affect all workshops

**Summary**
- When deploying multi-student workshops, some `ansible-1` nodes fail to pull the supported execution environments
- Suspected timeout on download
- This causes the workshops to fail, but RHPDS doesn't revert the deployment on

[2021-10-20 11:35] amayagil opened #1396 "IP variable missing"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

In exercise https://aap2.demoredhat.com/exercises/ansible_rhel/1.3-playbook/ Step 5, task should read:
  tasks:
    - name: Check that you can connect (GET) to a page and it returns a status 200
      uri:
        url: "http://"

instead of
  tasks:
    - name: Check that you can connect (GET) to a page and it returns a sta

[2021-10-20 14:10] IPvSean commented on #1396
help me @rlopez133 :)

[2021-10-20 14:14] #1394 closed, assigned to nobody

[2021-10-20 15:03] craig-br opened #1398 "Security workshop exercises - Improved numbering"
### Area

Ansible Security Automation

### Proposed Changes

#### Summary
Students find it difficult to understand the security workshop exercise nomenclature

#### Example
https://aap2.demoredhat.com/exercises/ansible_security/1.2-checkpoint/

![image](https://user-images.githubusercontent.com/42829306/138118709-cc1fdb8e-4e98-4c1b-ac1d-fa7e26dc4a8e.png)

This is numbered as `Exercise 1.2` and the

[2021-10-20 15:34] craig-br opened #1400 "Security workshop Workshop access link needs more visibility"
### Area

Ansible Security Automation

### Proposed Changes

#### Summary

![image](https://user-images.githubusercontent.com/42829306/138123484-8f7ae1c6-9da4-47f7-a5f6-cc534279445b.png)

- The `Workshop access` link in the security exercises should be larger and the link text needs to be updated to indicate it's clickable

#### Recommendation
-  Currently, the `workshop access` section is duplica

[2021-10-20 16:08] #1351 closed, assigned to nobody

[2021-10-20 16:14] IPvSean commented on #1028
@duboyd can you provide more info?

[2021-10-20 16:26] termlen0 commented on #1025
@IPvSean probably. If it helps, I've had very positive feedback on a mini-workshop (https://github.com/RedHatTelco/collections-mini-workshop)  from folks who were brand new to collections.
It is very basic but helps folks get started with using collections and then converting an existing role to a collection.

[2021-10-21 08:59] cbolz opened #1402 "Jinja2 is rendered incorrectly"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

The rendering of Jinja2 seems to be broken.

e.g. https://aap2.demoredhat.com/exercises/ansible_rhel/1.3-playbook/#step-3---running-the-playbook

The rendered GitHub page doesn't show the variables, e.g. msg: "{{ package }} {{ ansible_facts.packages[ package ][0].version }} is installed!"

[2021-10-21 09:20] cbolz opened #1403 "ansible-navigator doc command doesn't work"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

in https://aap2.demoredhat.com/exercises/ansible_rhel/1.2-thebasics/#step-2---listing-modules-and-getting-help
`ansible-navigator doc -l -m stdout | grep -i user` doesn't work

[2021-10-21 09:45] cbolz commented on #1390
Sure, as long as we show them how to do it, I'm fine. I only noticed this yesterday because pretty much all of my students failed to push their changes due to the missing step in the instructions.

[2021-10-21 10:33] amayagil commented on #1347
https://aap2.demoredhat.com/exercises/ansible_rhel/1.3-playbook/#step-4---extend-your-playbook-start--enable-apache
you should get a 403 but you get this
TASK [Check that you can connect (GET) to a page and it returns a status 200] ***
fatal: [ansible-1]: FAILED! => {"changed": false, "elapsed": 0, "msg": "Status code was -1 and not [200]: Request failed: <urlopen error no host given>", "redirecte

[2021-10-21 10:38] amayagil commented on #1347
same as https://github.com/ansible/workshops/issues/1396

[2021-10-21 13:26] amayagil opened #1404 "Step 6 - Test the role --> output differs"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

https://aap2.demoredhat.com/exercises/ansible_rhel/1.7-role/

Expected output:
[student<X>@ansible-1 ansible-files]$ curl -s http://node2:8080
simple vhost index

real output:
TASK [debug] *******************************************************************
ok: [node2] => {
    "msg": "Web server has been configured."
}

PLA

[2021-10-21 13:29] amayagil opened #1405 "command not found"
### Area

Ansible Network Automation Workshop

### Proposed Changes

https://aap2.demoredhat.com/exercises/ansible_rhel/1.7-role/

Expected output:
#> sudo netstat -tulpn
tcp6       0      0 :::8080                 :::*                    LISTEN      25237/httpd

Real output:
[student1@ansible-1 ansible-files]$ sudo netstat -tulpn
sudo: netstat: command not found

[2021-10-21 14:20] amayagil commented on #1404
yeah, the output should be "simple vhost index" but it is nothing, but the role executes perfectly

[2021-10-21 14:49] cigamit opened #1407 "Not replacing invalid character(s) "{'-'}" in group name (automation-hub)"
### Problem Summary

Ever since the Automation Hub stuff was added, we always get this when running playbooks in Tower (Windows Workshop).

[code]

This is caused by the dash in the automation-hub group.  We should change this to an underscore.

### Issue Type

Bug

### Extra vars file

N/A

### Ansible Playbook Output

[code]

### Ansible Version

 _______________
<  Tower 3.7.3  >
 -------------

[2021-10-21 15:07] #1403 closed, assigned to IPvSean

[2021-10-21 15:08] #1402 closed, assigned to IPvSean

[2021-10-21 22:09] cigamit commented on #1407
Yes, appears to be fixed in 2.0 already.  Closing this out.

[2021-10-21 22:09] #1407 closed

[2021-10-22 17:51] craig-br opened #1409 "Security workshop installation - Accept Check Point terms and conditions"
### Area

Ansible Security Automation

### Proposed Changes

#### Summary
- Security workshop fails to deploy unless the terms and conditions have been accepted for the AWS Check Point load balancer marketplace image

#### Fix
- Add clear documentation on which AWS marketplace images are needed to deploy the security workshop
- Add a step-by-step guide to accept terms and conditions in `One-time i

[2021-10-24 21:07] pseguel-redhat opened #1410 "Module name incorrect in networking lab 4"
### Problem Summary

In lab4 of networking workshop, the file resource.yml calls arista.eos.vlans, it should call arista.eos.eos_vlans.

### Issue Type

Bug

### Extra vars file

none

### Ansible Playbook Output

none

### Ansible Version

none

### Ansible Configuration

none

### Ansible Execution Node

CLI Ansible (Ansible Core)

### Operating System

none

[2021-10-25 16:00] #1410 closed, assigned to nobody

[2021-10-27 02:09] makebeer-war opened #1411 "Cisco flavor of the workshop referencing Arista.eos modules"
### Area

Ansible Network Automation Workshop

### Proposed Changes

Need to change Exercise 4 to be more cisco centric for the cisco flavor. I tried converting the commands myself but got an error. I'll be opening a bug as well for the particular issue I'm running into.

`fatal: [rtr3]: FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python"}, "changed": false, "msg": "'s

[2021-10-27 02:22] makebeer-war opened #1412 "Exercise4 AAP Network Automation Cisco flavor"
### Problem Summary

In exercise 4, it instructs you to use the arista.eos.vlans module to merge config changes and define some vlans. Since I was using the cisco flavour, I don't have any arista routers. I switched to cisco.ios.vlans (and cisco.ios.ios_vlans) and am getting the following error:

`fatal: [rtr3]: FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python"}, "ch

[2021-10-27 18:49] christopherglennreed opened #1413 "Networking workshop Exercise 4 step 7"
### Area

Ansible Network Automation Workshop

### Proposed Changes

Networking workshop Exercise 4 step 7

ansible-navigator run resource.yml --mode stdout

needs to be changed to

ansible-navigator run gathered.yml --mode stdout

[2021-10-28 20:45] IPvSean opened #1414 "upper case names for workshops won't work (change to lowercase)"
### Problem Summary

HMworkshop won't work but hmworkshop will

### Issue Type

Bug

### Extra vars file

n/a

### Ansible Playbook Output

n/a

### Ansible Version

n/a

### Ansible Configuration

n/a

### Ansible Execution Node

CLI Ansible (Ansible Core)

### Operating System

n/a

[2021-11-12 15:06] pharriso opened #1417 "ansible-navigator intermittent error - lsetxattr /etc/ansible: operation not permitted"
### Problem Summary

While running through the AAP 2.0 labs you will intermittently hit an error when running ansible-navigator inventory & run commands - "Error: lsetxattr /etc/ansible: operation not permitted". As I say, this is intermittent so some executions will work OK, but eventually you will hit the error.

Removing the label from the volume-mounts in .ansible-navigator.yml seems to resolv

[2021-11-12 20:27] anshulbehl commented on #1417
Removing the label from the navigator volume mount setting fixes this in my testing, if the issue still persists please let us know

[2021-11-15 03:39] benblasco commented on #1417
I still have this issue when deploying from RHPDS:

[student1@ansible-1 ~]$ ansible-navigator inventory --host node1 -m stdout
Error: lsetxattr /etc/ansible: operation not permitted
[student1@ansible-1 ~]$ ansible-navigator inventory --host control -m stdout
{
    "ansible_host": "18.140.70.46",
    "ansible_port": 22,
    "ansible_ssh_pass": "q3NSd8sB9e6woN",
    "ansible_user": "student1"
}

@an

[2021-11-15 03:48] benblasco commented on #1417
This problem is also affecting the execution of playbooks in the student environment.  I had to re-run the same commant 4 times to get it to work.  Do you think this could/should be handled as a high severity issue?  I have a customer workshop this Friday!

[code]

[2021-11-15 06:00] benblasco opened #1419 "AAP 2.0 Linux Workshop Running playbooks from ansible-navigator leaves ARTIFACT files in place"
### Problem Summary

Running playbooks using Ansible Navigator leaves artifact files which make a mess in the directory where the user is running playbooks from.  This makes it messy for students in the workshop to understand the contents of the directory they are working in, and is an unwieldy way to log executions.  Can these be logged in a different directory to $pwd by default so that no mess

[2021-11-15 06:49] benblasco opened #1420 "AAP 2.0 workshops Linux Google Slides deck link out of date"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

README.md in devel branch of https://github.com/ansible/workshops points to the old version of the slide deck, even though the workshop is deployed with a link to the new version of the slide deck.  Where does the new deck live?  We need to be able to copy it for our own customer presentations, and be able to read notes, co

[2021-11-15 11:24] anshulbehl commented on #1417
The PR is not merged yet, I will reply here once the PR is merged and then you can give it a try again.

[2021-11-15 13:34] #1417 closed

[2021-11-16 03:57] benblasco commented on #1420
Correction, I must have accidentally switched back to the master branch.  The devel branch is pointing to the correct deck at:

https://docs.google.com/presentation/d/1O2Gj5r_fhjM5Pi5FizrZRInmZ37IlpeKPTP6jSZxEKs/edit?usp=sharing

Thanks.

[2021-11-18 05:54] benblasco commented on #1420
I am still having trouble linking to the correct deck from Github.  Could somebody please check the page at the links above and ensure we are being pointed to the Google Slides for the right version of the deck?  Thanks @anshulbehl @IPvSean

[2021-11-18 06:29] anshulbehl commented on #1420
I think I see the problem now, looks like Readme inside  the location below
https://github.com/ansible/workshops/tree/devel/decks

is pointing to the old deck and probably that is causing some confusion, the Readme in the home location https://github.com/ansible/workshops/tree/devel points to the right google source, please use that in the meantine.

I will fix the link in the 1st Readme.

[2021-11-18 06:31] benblasco commented on #1420
Thanks!

[2021-11-18 06:46] anshulbehl commented on #1420
@benblasco PR sent, I will wait for @IPvSean to confirm this

[2021-11-19 16:11] tonykay opened #1427 "Codebase uses itself to host artifacts (rpms, VSC plugins etc) that can timeout at deploy time"
### Problem Summary

Placing artifacts needed at deploy time on GitHub in the repo itself makes deploys vulnerable to GitHub timeouts. Large deploys may see 50+ parallel downloads of for example the VSC rpm and a single failure breaks the workshop deploy.

Suggest a simpler, and arguably more robust, home for artifacts is found - for example an AWS S3 bucket

A secondary benefit would be that olde

[2021-11-21 22:15] benblasco opened #1428 "AAP 2.0 Linux WS in RHPDS: Additional checks required so failed deployment don't report as successful"
### Problem Summary

Note: This issue relates to checks done as the workshop deploys and are probably agnostic to the deployment method.  Issue created after discussion with @abenokraitis

I have classified this as a bug, as I believe that we are effectively generating false positives for workshop deployments, which in my case led to me having to postpone a workshop by a week due to the failure.

[2021-11-21 22:43] ffirg commented on #1428
I used to use this https://github.com/ffirg/workshop_checks for checking workshops post deployment. This was written before AAP2 revisions but can get you out of a hole when things go pop in the public cloud.

[2021-11-22 15:23] #1420 closed

[2021-11-23 00:43] benblasco commented on #1428
Please reopen this @IPvSean @anshulbehl .  Fixing the issue in [1429](https://github.com/ansible/workshops/pull/1429) does not address the broader problem of having checks to verify that the workshop deployment actually completed successfully.  Can we please reopen this issue?

[2021-11-23 17:58] IPvSean commented on #1428
I think this is an issue on the RHPDS side... that task should fail and stop provisioning... for some reason RHPDS is continuing to send it on.... I am not sure I understand @tonykay

[2021-11-24 19:53] AQuack opened #1432 "Ansible Security Automation slides"
### Area

Ansible Security Automation

### Proposed Changes

The slides for "Ansible Security Automation" slide 59 and 66 are identical, except one says "Ansible Security Automation Roles" (59) and the other says "Ansible Security Automation Content Collections" (66) but the information on the slide and the notes is all referencing roles.

[Link to google source](https://docs.google.com/presentati

[2021-11-24 20:04] abenokraitis commented on #1028
Closing due to lack of feedback

[2021-11-24 20:04] #1028 closed

[2021-11-24 20:08] AQuack commented on #1432
updated the link to point to the correct google slides, the first one was a copy I made

[2021-12-01 20:22] rnunezrgn opened #1434 "Error when editing Network Command Survey (Ansible Automation Platform Network workshop/demo)"
### Problem Summary

Hi All,
I'm getting the following error when trying editing the "Network Command" template survey:

_**Something went wrong...
There was an error loading this content. Please reload the page. Back to Dashboard.

Details
TypeError: t.choices.split is not a function at nC (https://student1.2f0d.example.opentlc.com/static/js/main.9eb9518d.chunk.js:1:1074036) at Zo (https://studen

[2021-12-02 22:12] IPvSean commented on #1434
will investigate

[2021-12-03 22:58] winni-v opened #1435 "Setting up Insights in Workshop AAP2 RHEL 90"
### Area

Other

### Proposed Changes

step 4, https://aap2.demoredhat.com/exercises/ansible_rhel_90/7-insights/ That whole step seems undo-able for me. Probably because I already have active accounts. But I do not understand the reference to templates, there is nothing that says "SERVER / Red Hat Insights

Secondary and minor: there is a reference here to "tower" rather than "controller".

And I

[2021-12-06 12:28] benblasco commented on #1419
Thoughts @anshulbehl ?

[2021-12-06 12:28] benblasco commented on #1428
Any updates on this one @IPvSean @tonykay ?

[2021-12-06 18:34] winni-v opened #1436 "Workshop Ansible for Windows, module 2 Step 7"
### Problem Summary

I am asked to uninstall the webserver, but upon filling in the parameter, win_feature, name=Web-Server state=absent, windows workshop execution environment, Workshop Credential, I get an error msg.

### Issue Type

Bug

### Extra vars file

none

### Ansible Playbook Output

Identity added: /runner/artifacts/11/ssh_key_data (/runner/artifacts/11/ssh_key_data)
ERROR! this task

[2021-12-08 09:03] nmartins0611 commented on #1435
Changed the tower references - just busy with testing the insights part

[2021-12-15 18:18] imak opened #1443 "Provisioning rhel workshop fails to controller job templates"
### Problem Summary

Standing up a 'rhel' workshop is failing during provisioning at the "install projects" task.  It appears to be looking for a response to the API call for the official Ansible demo project that was deleted in the previous task.

"msg: Request to /api/v2/projects/?name=Ansible+official+demo+project returned 0 items, expected 1"

### Issue Type

Bug

### Extra vars file

---
# re

[2021-12-15 18:46] IPvSean commented on #1443
interesting.... do you have the controller still online?

when you look under projects can you attach a screenshot?  I think .... it tried to install JTs before Projects... and the loop in ansible was nondeterministic (not in ordered fashion... so it tried to install JTs before projects)

[2021-12-15 20:36] IPvSean commented on #1443
should be fixed, please re-open the issue if the issue persists

[2021-12-15 20:36] #1443 closed

[2021-12-22 16:34] craig-br commented on #1432
Duplicate slide removed, Thank you. I'll create a PR to update the PDF

[2021-12-22 16:50] craig-br opened #1445 "code server request timeout"
### Problem Summary

#### Summary
* The student code server URL times out. After a few minutes, the code server page works
  * e.g. student1-code.WORKSHOPNAME.demoredhat.com
* Tested in Chrome, Chrome Incognito window, Firefox, Firefox Private window

#### Error
```This site can’t be reachedstudent1-code.craigsec3.demoredhat.com took too long to respond.```

### Issue Type

Bug

### Extra vars fil

[2022-01-06 17:27] nmartins0611 commented on #1435
Update: Default EE for insights was updated and pushed to quay - Just resolving playbook issue to allocate the correct EE.

[2022-01-07 09:44] craig-br commented on #1369
This issue will be resolved with planned migration to T3 AWS instances.

[2022-01-07 09:44] #1369 closed

[2022-01-07 10:15] #1432 closed

[2022-01-11 11:25] pharriso opened #1450 "Intermittent issue with ansible-navigator - disk quota exceeded"
### Problem Summary

Provisioned 20 student environments with the AAP2 Linux provisoner. Across a number of the lab environments (not all) users are getting an error when running "ansible-navigator images" and then trying to inspect the image.

Error in navigator TUI:

[code]

Increasing the maxkeys kernel parameter provided a workaround

```echo 50000 > /proc/sys/kernel/keys/maxkeys```

### Issue

[2022-01-12 14:29] goetzrieger opened #1451 "Update Workshops to AAP 2.1"
### Area

Other

### Proposed Changes

Would be good if we could update the workshop infra to 2.1!

[2022-01-12 22:36] KnightRide12 opened #1452 "Incorrect workflow"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

Exercise 2.6 has users creating the Node.js Deploy Job Template and the Web App Deploy Job Template.  It goes on to create the workflow template linking the node.js deploy with the web app deploy.  This workflow will fail if web app deploy was never ran before since the webdev install_node_app.yml has a task to restart the

[2022-01-12 22:38] #1452 closed

[2022-01-12 22:38] KnightRide12 commented on #1452
Duplicate issue

[2022-01-13 13:15] heatmiser opened #1453 "Add support for locally cached AAP2 install bundle"
### Problem Summary

Currently, even if a local copy of the AAP2 install bundle is present on the file system, the deploy automation still attempts to roll through the API token process and can subsequently fail if an HTTP 200 response is not received. A means for bypassing the API token process if the proper version of the AAP2 install bundle is already present on the file system.

### Issue Type

[2022-01-17 12:15] #1453 closed

[2022-01-17 17:13] dpullman-emergent opened #1456 "AAP2 Networking Ex 3 Incorrect line number in instruction"
### Area

Ansible Network Automation Workshop

### Proposed Changes

AAP2 Networking, Exercise 3, step 1: "In the above screenshot on line 9 we can see:"

This is trying to lead to the :doc line, but that is on line 6 in the screenshot.

[https://aap2.demoredhat.com/exercises/ansible_network/3-facts/](url)

[2022-01-17 17:22] cloin opened #1458 "Test issue"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

test. ignore.

[2022-01-17 17:23] #1458 closed

[2022-01-17 17:24] cloin opened #1459 "Test issue ignore"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

test

[2022-01-17 17:24] #1459 closed

[2022-01-17 17:24] cloin opened #1460 "test. ignore"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

test

[2022-01-17 22:27] dpullman-emergent opened #1461 "AAP2 Network: failures in provisioning: add repo into controller"
### Problem Summary

Failure to provision four of the fifty seats in a network workshop. The task ansible.workshops.populate_controller : add repo into controller failed for the first four of the fifty ansible-1 hosts. Subsequent tasks for those hosts were not completed and they were marked failed.

### Issue Type

Bug

### Extra vars file
[code]
### Ansible Playbook Output

TASK [ansible.workshop

[2022-01-17 22:35] dpullman-emergent commented on #1461
Additional info: I've been running tests to provision the networking workshop for a few days. I've tried sizes from 5 to 50 seats. The lower numbered sizes often provision successfully. The 50 seat size almost always fails (I've had one successful try in about 20 attempts.)

The failures have varied. The one in this report is the most common. They include
- TASK [ansible.workshops.populate_control

[2022-01-18 14:36] dpullman-emergent opened #1462 "AAP2 Network: failures in provisioning: Create EC2 instances for rtr1 node"
### Problem Summary

Trying to provision a fifty seat workshop, failing in this case to provision rtr1.

### Issue Type

Bug

### Extra vars file

[code]

### Ansible Playbook Output

TASK [manage_ec2_instances : find correct AMI] ********************************************************
included: /home/ec2-user/workshops/provisioner/roles/manage_ec2_instances/tasks/ami_find/ami_find_network.yml fo

[2022-01-18 14:56] heatmiser opened #1463 "Expand Automated Smart Management deployment for post Satellite roll out configuration"
### Problem Summary

The Automated Smart Management workshop automation rolls out a Satellite as part of the deployment. Providing a means for choosing the level of post-deploy Satellite configuration can assist in properly preparing the environment configuration for the intended use: workshop, demo, or playground.

### Issue Type

Feature Request

### Extra vars file

N/A

### Ansible Playbook Ou

[2022-01-18 19:43] #1456 closed

[2022-01-18 21:45] #1381 closed

[2022-01-19 14:35] #1460 closed

[2022-01-21 19:47] HichamMourad opened #1471 "Error on S3 Buckets while trying to provision a workshop"
### Problem Summary

Fails during provisioning of a new workshop
=================================

TASK [manage_ec2_instances : s3 bucket for persistent storage of ec2 key exists] *********************************************************************
FAILED - RETRYING: [localhost]: s3 bucket for persistent storage of ec2 key exists (4 retries left).
FAILED - RETRYING: [localhost]: s3 bucket for pe

[2022-01-25 01:46] rlopez133 commented on #1451
Hi @goetzrieger , the workshops are updated to AAP 2.1 on the devel branch.

[2022-01-25 14:28] abenokraitis opened #1474 "Enable CI System (manifests, ...)"

[2022-01-25 14:28] abenokraitis opened #1475 "Merge `devel` to `main` (closing off AAP 1.2)"

[2022-01-25 14:28] abenokraitis opened #1476 "Rename `master` to `main`"

[2022-01-25 14:28] abenokraitis opened #1477 "Update workshop codebase from AAP 2.0 to AAP 2.1"

[2022-01-25 15:03] #1405 closed

[2022-01-25 15:07] craig-br opened #1478 "Add Automation Mesh exercise module"

[2022-01-25 15:07] cloin commented on #1474
Instead of base64 manifest.zip, you can try adding an encrypted manifest to the repo with the decryption password set as a secret and decode on the fly.

[2022-01-25 19:33] IPvSean commented on #1475
this is now live

[2022-01-25 19:33] #1475 closed

[2022-01-25 19:34] IPvSean commented on #1477
this is now live....

[2022-01-25 19:34] #1477 closed

[2022-01-25 19:34] IPvSean commented on #1476
this has been completed

[2022-01-25 19:34] #1476 closed

[2022-01-26 18:25] cloin opened #1489 "PAH needs a cert"

[2022-01-28 21:21] craig-br commented on #1478
@goetzrieger . Have a look at [this PR](https://github.com/ansible/workshops/pull/1498).
https://github.com/ansible/workshops/blob/efcbcafb40dd2fe44d33bca3fa98d2a1869b584b/_includes/mesh.md
https://github.com/ansible/workshops/blob/efcbcafb40dd2fe44d33bca3fa98d2a1869b584b/exercises/common/images/mesh_logical.png

[2022-01-28 21:36] #1489 closed

[2022-02-11 18:03] heatmiser commented on #1451
The `provided_sha_value` variable in the aap_download role of the `devel` workshop provisioner is currently set to: `99c12c95e506b1935eee5edbe36870b9fda2c71b825b1e3fafd68153121e9d8f` ...which does not match the SHA-256 Checksum of any of the AAP2.x Setup Bundles (that I am aware of).  The AAP download page provides the following available options...

Ansible Automation Platform 2.0.0 Setup Bundle

[2022-02-15 16:19] IPvSean commented on #1471
is this still happening @HichamMourad ?

[2022-02-15 16:20] IPvSean commented on #1461
did this get fixed with the other PR we merged?

[2022-02-15 16:27] HichamMourad commented on #1471
I haven't seen it in the last couple of weeks.  Thank you.

Kind regards,

*Hicham (he-sham) Mourad*

On Tue, Feb 15, 2022 at 11:19 AM Sean Cavanaugh ***@***.***>
wrote:

[2022-02-15 16:31] dpullman-emergent commented on #1461
No not yet. I'm working on them, but sorry I'm delayed a bit just had surgery yesterday, hope to be home tonight. I'll update my open issues with status tomorrow.
Thanks!

David

Sent from my mobile phone.
________________________________
From: Sean Cavanaugh ***@***.***>
Sent: Tuesday, February 15, 2022 11:21:06 AM
To: ansible/workshops ***@***.***>
Cc: David Pullman ***@***.***>; Author ***@***.

[2022-02-15 16:33] dpullman-emergent commented on #1462
I’ll check and update tomorrow. We’re using us-east-1.

Sent from my mobile phone.
________________________________
From: Sean Cavanaugh ***@***.***>
Sent: Tuesday, February 15, 2022 11:20:31 AM
To: ansible/workshops ***@***.***>
Cc: David Pullman ***@***.***>; Mention ***@***.***>
Subject: Re: [ansible/workshops] AAP2 Network: failures in provisioning: Create EC2 instances for rtr1 node (Issue #1

[2022-02-15 16:37] IPvSean commented on #1471
i think this got fixed when i got rid of self install collection method and reverted to ../ relative path calls

[2022-02-15 16:37] #1471 closed

[2022-02-15 20:26] IPvSean commented on #1411
OK finished a cisco example: https://ipvsean.github.io/workshops/exercises/ansible_network/supplemental/4-resource-module-cisco/

This will go into the next release.... reopen or create a new issue if this exercise does not work

[2022-02-15 20:26] #1411 closed

[2022-02-15 21:29] IPvSean commented on #1390
@cloin can you add this in?

[2022-02-16 00:11] cloin commented on #1390
What’s the proposed change? Is it just that vs code changed to a cloud icon and that needs a new screenshot?

[2022-02-16 21:56] IPvSean commented on #1412
there is now a cisco flavor https://ipvsean.github.io/workshops/exercises/ansible_network/supplemental/4-resource-module-cisco/

[2022-02-16 21:56] #1412 closed

[2022-02-16 21:57] IPvSean commented on #1462
any word? @dpullman-emergent hopw you are doing OK

[2022-02-17 15:31] dpullman-emergent commented on #1462
Sorry, still not back yet. We're getting home PT and nursing setup. Joint replacement is apparently complicated. :P

Sent from my mobile phone.
________________________________
From: Sean Cavanaugh ***@***.***>
Sent: Wednesday, February 16, 2022 4:57:23 PM
To: ansible/workshops ***@***.***>
Cc: David Pullman ***@***.***>; Mention ***@***.***>
Subject: Re: [ansible/workshops] AAP2 Network: failures

[2022-02-17 16:17] imak opened #1510 "ec2_instance module has been deprecated"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

When provisioning a "rhel" workshop, ended up getting the following failure:

TASK [../roles/manage_ec2_instances : save ami for ansible control node] ******************************************************************************************************************************************
ok: [localhost]

TASK [../roles/man

[2022-02-17 16:36] willtome opened #1511 "[RFE] Automatin Hub"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

Add a default credential called "Automation Hub" and attach to the default organization so that project syncs can pull supported collections

ansible/product-demos #44 PR is dependent on this change

[2022-02-17 19:00] imak commented on #1510
Mistake.  ansible-galaxy doesn't update the collections if older ones are installed.  I removed the old collections and this is no longer an issue.

[2022-02-17 19:00] #1510 closed

[2022-02-17 19:22] jdelaporte opened #1513 "The main page is confusing ... is it AAP 2 or 1.2?"
### Area

Other

### Proposed Changes

The main page states _both_ that it is for AAP 2, and that it is for AAP 1.2. It is confusing.

![image](https://user-images.githubusercontent.com/3790057/154555196-63d8cb36-4e8f-4ad7-bd11-bca263845e5c.png)

[2022-02-17 19:59] jdelaporte commented on #1513
I found similar confusing statement on the Ansible F5 Networking page, and I will open a PR for that fix. I am having trouble finding the main page with the content I am seeing. Maybe it lives outside this repo, or part of the page is dynamically generated?

[2022-02-21 16:50] #1513 closed

[2022-02-21 17:01] IPvSean commented on #1461
just reopen when you recreate, no problem to reopen, going to close so I can clear out the queue and make sure I am not missing any ongoing issues

[2022-02-21 17:01] #1461 closed

[2022-02-21 17:01] #1462 closed

[2022-02-21 17:02] dpullman-emergent commented on #1461
Will do, thanks!

Sent from my mobile phone.
________________________________
From: Sean Cavanaugh ***@***.***>
Sent: Monday, February 21, 2022 12:01:14 PM
To: ansible/workshops ***@***.***>
Cc: David Pullman ***@***.***>; Author ***@***.***>
Subject: Re: [ansible/workshops] AAP2 Network: failures in provisioning: add repo into controller (Issue #1461)

CAUTION: External email message. Look carefu

[2022-02-24 19:14] IPvSean commented on #1511
👍

[2022-02-24 19:14] IPvSean commented on #1450
images have memories increased for control node, please re-open if you experience this again

[2022-02-24 19:14] #1450 closed

[2022-02-24 19:16] IPvSean commented on #1414
will reopen.... if I see this again...

[2022-02-24 19:16] #1414 closed

[2022-02-24 19:40] IPvSean commented on #1393
fixed with https://github.com/ansible/workshops/pull/1523

[2022-02-24 19:40] #1393 closed

[2022-02-24 19:46] IPvSean commented on #1298
OK many people were struggling with the way I had the collection install itself (e.g. the workshop provisioner did a ansible-galaxy collection install ansible.workshops before executing the rest of the provision__lab.yml). I have moved back to relative path e.g. provisioner/provision_lab.yml  will do ../roles/control_node/

Try again and it "should" work

[2022-02-24 19:46] #1298 closed

[2022-02-24 19:48] IPvSean commented on #1159
This is fixed

[2022-02-24 19:48] #1159 closed

[2022-02-24 19:49] IPvSean commented on #1226
@rlopez133 can we close this bug? is this good now @benblasco ?

[2022-02-24 21:24] rlopez133 commented on #1226
@IPvSean should be able to close. This should of fixed: https://github.com/ansible/workshops/pull/1354

[2022-02-24 21:46] #1226 closed

[2022-02-25 11:51] benblasco commented on #1226
Good stuff @IPvSean and @rlopez133

My next crusade is to try and make time to review the exercises again and try to tighten the instructions and the wording up.  I think we can make this workshop really strong with some minor tweaks.

Ok with closure.

[2022-02-25 15:02] carlosfparada opened #1524 "Wrong samples in Supplemental Exercise: Ansible Network Resource Modules"
### Area

Ansible Network Automation Workshop

### Proposed Changes

Supplemental Exercise: Ansible Network Resource Modules
https://aap2.demoredhat.com/exercises/ansible_network/supplemental/resource
Wrong message
msg: ""  -> msg: "{{ rendered_config }}"
msg: ""  -> msg: "{{ parsed_config }}"
Wrong running_config format
running_config: ".txt') }}"   ->         running_config: "{{ lookup('file', '

[2022-02-25 15:04] carlosfparada opened #1525 "Exercise 4: Ansible Network Resource Modules - Cisco Example not working"
### Area

Ansible Network Automation Workshop

### Proposed Changes

Exercise 4: Ansible Network Resource Modules - Cisco Example
https://aap2.demoredhat.com/exercises/ansible_network/supplemental/4-resource-module-cisco

cisco.ios.snmp_server (WRONG example in the workshop)
	cisco.ios.ios_snmp_server (not working as well, not sure why)

The example uses wrong module name "snmp_server" instead of

[2022-02-25 15:05] carlosfparada opened #1526 "Exercise 6: Creating an Automation controller Job Template fails"
### Area

Ansible Network Automation Workshop

### Proposed Changes

Job Template run fails (no permissions to create /backup directory)
After creating the /backup directory manually in the controller node it worked fine.

[2022-02-25 15:07] carlosfparada opened #1527 "Error in Exercise 7: Creating a Survey"
### Area

Ansible Network Automation Workshop

### Proposed Changes

include_role line missing in the example
Where is
    	  name: "../roles/banner"

should be
    include_role:
        name: "../roles/banner"

[2022-02-25 15:08] carlosfparada opened #1528 "Error in Exercise 8: Understanding RBAC in Automation controller"
### Area

Ansible Network Automation Workshop

### Proposed Changes

Error in controller trying to add a new command option (one of the proposed extra excecises at the end)
TypeError: t.choices.split is not a function at nC (https://student1.8cb5.example.opentlc.com/static/js/main.9eb9518d.chunk.js:1:1074036) at Zo (https://student1.8cb5.example.opentlc.com/static/js/2.97c02134.chunk.js:2:1413653)

[2022-02-25 15:11] carlosfparada opened #1529 "Error at Exercise 1.1: Using the bigip_device_info module"
### Area

Ansible F5 Workshop

### Proposed Changes

The EE image (https://quay.io/repository/acme_corp/security_ee?tab=tags) does not contain the f5networks.f5_modules collection.

[2022-02-25 15:25] IPvSean commented on #1528
@carlosfparada can you elaborate here?  Not understanding what the issue is?

[2022-02-25 16:05] carlosfparada commented on #1528
At the end of excercise 8 there is a "bonus step" saying: "If time permits, log back in as the network-admin and add another show command you would like the operator to run. This will also help you see how the Admin Role of the network-admin user allows you to edit/update the job template.". When you try to add a new command to the list in the survey it fails and dxisplays the above error stack.

[2022-02-25 17:21] carlosfparada commented on #1529
Digging a bit, I created a new EE with the missing collections, but still other things wrong, e.g. inventory is completely different, and some python code is failing. I noticed there is a f5_ee EE mentioned in the WS descripton and not used in the code, but even with this things fail on the python code

[2022-02-25 17:24] anshulbehl commented on #1529
Hi @carlosfparada

The EE that works with f5 is https://quay.io/repository/acme_corp/f5_ee
This should have all the dependencies

[2022-02-25 21:44] IPvSean commented on #1527
@carlosfparada will be fixed in next release, thank you for opening!

[2022-02-25 21:44] #1527 closed

[2022-02-25 21:45] IPvSean commented on #1528
this is fixed in latest release, unable to replicate, should go live next week

[2022-02-25 21:45] #1528 closed

[2022-02-25 21:45] IPvSean commented on #1526
this is fixed in latest release, will try to get this released next week

[2022-02-25 21:45] #1526 closed

[2022-02-25 21:49] IPvSean commented on #1524
fixed with https://github.com/IPvSean/workshops/commit/0017db515d7dbb2bcde7142ae6fb2d12f6718da2

[2022-02-25 21:49] #1524 closed

[2022-02-25 21:50] IPvSean commented on #1525
those will not work until the next major release, its a newer module in a newer EE, will happen next week

[2022-02-25 21:50] #1525 closed

[2022-02-25 21:52] IPvSean commented on #1445
odd......
![image](https://user-images.githubusercontent.com/6537680/155808134-f8a30ec7-a9b2-4777-876f-3b7c223eeebd.png)
also seeing this randomly :-|

[2022-02-28 09:15] carlosfparada commented on #1529
In fact the environment is configured (.ansible-navigator.yaml) to use the security_ee, even if in https://aap2.demoredhat.com/exercises/ansible_f5/1.0-explore/ if shows the f5ee.
Anyway, I tried the f5_ee and did not work as well, it raises some python errors.

[2022-02-28 09:35] carlosfparada commented on #1527
Perfect!

[2022-02-28 09:37] carlosfparada commented on #1528
OK!

[2022-02-28 09:37] carlosfparada commented on #1526
OK!

[2022-02-28 09:39] carlosfparada commented on #1524
Perfect!

[2022-02-28 09:40] carlosfparada commented on #1525
Ok @IPvSean!

[2022-02-28 10:05] carlosfparada commented on #1529
@anshulbehl now I understand what is happening. In fact I was using the wrong Lab. I used the security Lab to run the F5 exercises. My fault, so never mind this issue. But anyway, do you know why I do not see (and cannot order) the F5 Lab in the "Management Automation Workshops Demos" folder in RHPDS, only the other 5?

[2022-02-28 17:03] anshulbehl commented on #1529
@carlosfparada yeah the reason for that is f5 workshops still need some support from the F5 side to be maintained, we are working with f5 on that front, but it will take some time for the workshop to be fully AAP2 compatible

[2022-02-28 17:09] anshulbehl opened #1533 "VSCode code-server not reachable or not securely running in workshops"
### Problem Summary

F5 has raised this issue and its also visible in some of the workshops when @IPvSean tried to replicate.
Needs more triage and fixes.

### Issue Type

Bug

### Extra vars file

NA

### Ansible Playbook Output

NA

### Ansible Version

NA

### Ansible Configuration

NA

### Ansible Execution Node

CLI Ansible (Ansible Core)

### Operating System

NA

[2022-02-28 17:20] IPvSean commented on #1533
might be a match to this https://github.com/ansible/workshops/issues/1445

[2022-02-28 17:21] IPvSean commented on #1343
closing issue until someone has time to work on this

[2022-02-28 17:21] #1343 closed

[2022-02-28 17:32] #1265 closed

[2022-03-01 08:41] carlosfparada commented on #1529
OK, thanks @anshulbehl for the clarification

[2022-03-01 17:12] carlosfparada opened #1536 "Not all browsers can be used"
### Area

Ansible Security Automation

### Proposed Changes

Running the security WS, I just noticed that the QRadar tool does not work properly in all browsers.
For the 3 I checked:
- Firefox, works fine
- Safari, overall works fine, but the search and filtering capabilities are not visible (and an annoying error is there all the time)
- Chrome, does not work at all, it fails not even allowing ac

[2022-03-02 15:32] dpullman-emergent opened #1538 "AAP2: failure in provisioning: import inventory task fails intermittently"
### Problem Summary

The import inventory tasks fails intermittently on more than one workshop type. Examples below are from testing the security workshop, but we've seen it provisioning the network workshop as well.

After the failure I checked that the /var/lib/awx/hosts file was in place and looked correct on the controllers. Maybe a race condition from the previous copy task?

### Issue Type

[2022-03-02 16:36] #1538 closed

[2022-03-02 18:55] dpullman-emergent opened #1542 "Security: failure in provisioning: add git repo as project"
### Problem Summary

The Add git repository as Tower project fails intermittently, but regularly, when provisioning the security workshop. The playbook output shown is for 2 out of 15 seats failed.

It does not appear to be a previous condition in the provisioning. Suggesting adding retries to the task.

### Issue Type

Bug

### Extra vars file

[code]

### Ansible Playbook Output

  TASK [../role

[2022-03-02 20:38] dpullman-emergent opened #1544 "Security: failure in provisioning: ensure checkpoint API settings"
### Problem Summary

The task ensure API setting is failing intermittently, but often. No obvious timing cause or failure in previous provisioning.

One thing to note is that when it happens it's been the first instance applied to, and no multiple failures.

### Issue Type

Bug

### Extra vars file

[code]

### Ansible Playbook Output

PLAY [FIX CHECKPOINT MGMT SERVER] ****************************

[2022-03-02 20:51] #1544 closed

[2022-03-02 21:01] #1542 closed

[2022-03-03 13:36] IPvSean commented on #1129
this is now released, may need improvements in the future

[2022-03-03 13:36] #1129 closed

[2022-03-03 15:45] IPvSean commented on #1400
@craig-br

what about something like this->
![image](https://user-images.githubusercontent.com/6537680/156599243-958d1772-4c32-4c8f-a160-84b55f053a2f.png)

and hover does
![image](https://user-images.githubusercontent.com/6537680/156599278-7c877d16-3501-455d-bd38-1f596f2ae4ea.png)

The CSS is->
[code]

[2022-03-03 15:57] IPvSean commented on #1400
fixed 👊

[2022-03-03 15:57] #1400 closed

[2022-03-03 15:57] IPvSean commented on #1128
no info provided

[2022-03-03 15:57] #1128 closed

[2022-03-03 15:58] IPvSean commented on #1271
any update @cloin ?

[2022-03-03 15:59] IPvSean commented on #1122
any update @rlopez133 ?

[2022-03-03 18:48] rlopez133 commented on #1122
I'll take a look at this tomorrow @IPvSean

[2022-03-03 20:23] IPvSean commented on #1536
@carlosfparada just here? https://aap2.demoredhat.com/exercises/ansible_security/1.4-qradar/

I can add something to the NOTE field.  Would that be sufficient?

[2022-03-03 20:23] IPvSean commented on #1533
did you fix this?

[2022-03-03 20:24] IPvSean commented on #827
I am curious if this is resolve from moving to ec2_instance and various other boto3 improvements?  You still hit this @cigamit ?

[2022-03-03 20:25] IPvSean commented on #707
please reopen if there is an issue

[2022-03-03 20:25] #707 closed

[2022-03-03 20:43] IPvSean commented on #1536
I have a preview here of what it could look like: https://ipvsean.github.io/workshops/exercises/ansible_security/1.4-qradar/

[2022-03-03 21:00] dpullman-emergent opened #1553 "All workshops: failure in provisioning: trivial failure in task load_license_block"
### Problem Summary

The task load_license_block can load the base64 manifest either from a manifest.zip file or from variable base64_manifest. If you are using a manifest.zip file, every controller has a trivial failure appear during provisioning, because the task uses failure do decide how to get the manifest.

Suggest that inspection of the variable be used instead.

### Issue Type

Bug

### Ex

[2022-03-03 22:13] IPvSean commented on #1553
This doesn't make sense to me.... this has been working for months.... I have not changed this code in some time.... I used the manifest.zip multiple times this week.  I need to investigate.

[2022-03-03 22:27] IPvSean commented on #1553
ok i think i see what is happening, you prefer to not use the rescue...

[2022-03-03 23:03] dpullman-emergent commented on #1553
I’m just saying that if base64_manifest is not defined, but you have a manifest.zip file, then the task will fail the first part and run the always part. The output on the terminal is a failure for each controller for that task alone. Everything still works, and no failure is listed at the end. But you have a batch of trivial failures every time.

It’s just a suggestion that checking if the var is

[2022-03-04 09:10] carlosfparada commented on #1536
@IPvSean the note seems fine. The same should also apply to exercises 2.1, 2.2 and 2.3 which also use QRadar UI.

[2022-03-04 14:28] #1553 closed

[2022-03-04 14:28] IPvSean commented on #1553
the solution is merged. Your way is more elegant, thank you for contributing!

[2022-03-04 15:06] #1398 closed

[2022-03-04 19:49] cloin commented on #1271
previously fixed.

[2022-03-04 19:49] #1271 closed

[2022-03-04 19:50] #898 closed

[2022-03-09 23:46] heatmiser commented on #1463
Functionality merged.

[2022-03-09 23:46] #1463 closed

[2022-03-10 08:40] craig-br opened #1574 "controller install - Invalid callback for stdout specified: yaml"
### Problem Summary

The Instruqt automation mesh lab requires a re-installation of automation controller to configure the execution nodes. During the install, the following error occurs:

```ERROR! Invalid callback for stdout specified: yaml```

This is from the workshop `ansible.cfg.j2` specifying the yaml stdout_callback:
```stdout_callback = yaml```

Attempted fixes:
`ansible-galaxy collection

[2022-03-10 08:40] craig-br commented on #1574
FYI @IPvSean

[2022-03-10 13:01] IPvSean commented on #1574
That error usually refers to the fix you did... ```ansible-galaxy collection install community.general```

I am not sure why it is still giving you that error....

can you do a `ls -la ~/.ansible/collections/ansible-collections`

Also... i guess.... you are running setup as root.... so maybe try

```sudo ansible-playbook``` i am curious if sudo/root is using a different ansible installation or col

[2022-03-11 13:37] craig-br commented on #1574
I think it has to do with how the AAP installer uses collections.

[2022-03-11 13:41] craig-br commented on #1574
#### Solution
A replacement `ansible.cfg` that excludes `stdout_callback = yaml` is installed when building Instruqt images.

More info: https://github.com/ansible/instruqt/pull/97

[2022-03-11 13:41] #1574 closed

[2022-03-15 10:40] goetzrieger opened #1585 "RHEL WS: Inventory Connection Vars preventing SSH Connection...."
### Problem Summary

We still have the legacy connection vars in the controller inventory but are using SSH key-based creds now, example:

[code]

This has worked for a long time but now it seems to prevent the SSH connection to the managed hosts. Discovered in RHPDS deployed envs 14/03, confirmed 15/03.

When doing the ad hoc command in one of the first exercises SSH connection fails because cont

[2022-03-15 15:04] cbolz commented on #1585
Until this is fixed, I wrote a little workaround playbook which deletes the before mentioned variables:
https://gitlab.com/cjung/playbook-misc/-/blob/main/rhaap-wipe-inventory-vars.yml

[2022-03-15 21:49] #1122 closed

[2022-03-16 10:00] cbolz commented on #1585
This also seems to be on the command line. in `lab_inventory/hosts`:
[code]
However, the user is "ec2-user"

[2022-03-16 15:56] IPvSean commented on #1585
this is entirely removed in devel branch now, the next release will entirely remove this from RHEL workshop

Wondering if we should match in security @craig-br

[2022-03-16 15:56] #1585 closed

[2022-03-16 16:52] IPvSean commented on #1536
will be fixed in next release

[2022-03-16 16:52] #1536 closed

[2022-03-16 16:52] IPvSean commented on #1533
closing this since its been 13days

[2022-03-16 16:52] #1533 closed

[2022-03-16 16:52] IPvSean commented on #1529
closing this since its been 15 days

[2022-03-16 16:53] #1445 closed

[2022-03-16 16:53] IPvSean commented on #1435
closing this based on @nmartins0611 comment

[2022-03-16 16:54] IPvSean commented on #1390
@cbolz please open this up again when you have time to respond to the question

closing due to inactivity

[2022-03-16 16:54] #1390 closed

[2022-03-16 16:55] IPvSean commented on #1434
this is fixed in latest release of 2.1.1.  Please reopen if this happens again.

[2022-03-16 16:55] #1434 closed

[2022-03-16 16:57] IPvSean commented on #827
closing due to inactivity, please reopen if this issue persists

[2022-03-16 16:57] #827 closed

[2022-03-16 16:59] IPvSean commented on #1376
Is this still something we are doing @cloin ?

[2022-03-16 18:06] #1409 closed, assigned to craig-br

[2022-03-19 14:42] JayDi11a commented on #451
I am constantly having this issue:
fatal: [attendance-host]: FAILED! => changed=true
  attempts: 5
  cmd: certbot certonly --no-bootstrap --standalone -d securityworkshopthree.trotman.com --email ansible-network@redhat.com --noninteractive --agree-tos
  delta: '0:00:01.128436'
  end: '2022-03-19 14:24:50.082978'
  msg: non-zero return code
  rc: 1
  start: '2022-03-19 14:24:48.954542'
  stderr: |-

[2022-03-20 11:38] craig-br commented on #451
Hi @JayDi11a This is a limit implemented by letsencrypt.org themselves and not something we control or maintain. Certificate requested for `securityworkshopthree.trotman.com` is thotlled due to multiple requests

```There were too many requests of a given type :: Error creating new order :: too many failed authorizations recently: see```

, However, the Windows and QRadar instances don't use letse

[2022-03-20 11:43] craig-br commented on #451
@JayDi11a May I please ask to upload your latest provisioner output with `-vvvv` tags, `ansible --version` and `ansible-galaxy collections list`

@IPvSean FYI.
I believe this might have something to do with the latest Ansible core version or FQCN changes. @JayDi11a is using a Mac and I can't recreate the issue on Fedora.

[2022-03-20 12:56] craig-br opened #1594 "Security workshop fails on async_status"
### Problem Summary

#### Error
`ansible-navigator run provisioner/provision_lab.yml` fails on `async_status` with the following error:

       "ansible_job_id": "630415290490.166",
        "ansible_loop_var": "item",
        "changed": true,
        "failed": 0,
        "finished": 0,
        "item": "ansible_security.ids_install",
        "results_file": "/home/runner/.ansible_async/630415290490

[2022-03-20 16:14] craig-br commented on #451
Ref https://github.com/ansible/workshops/pull/1595

[2022-03-20 17:05] JayDi11a commented on #451
[code]

[code]

[2022-03-21 12:24] #1594 closed

[2022-03-21 13:10] IPvSean commented on #1511
There is an internal ticket opened with RHPDS team RITM1128711

[2022-03-21 13:13] IPvSean commented on #1413
This has been fixed

[2022-03-21 13:13] #1413 closed

[2022-03-21 13:14] IPvSean commented on #1436
@cloin can you confirm or close this issue?

[2022-03-22 21:49] willtome opened #1597 "[RFE] Add Password to Credential"
### Problem Summary

Add the workshop password to the "Workshop Credential"
Remove connection variables from all vars in inventory

### Issue Type

Feature Request

### Extra vars file

n/a

### Ansible Playbook Output

n/a

### Ansible Version

n/a

### Ansible Configuration

n/a

### Ansible Execution Node

Ansible Controller (previously known as Ansible Tower)

### Operating System

RHEL

[2022-03-22 22:33] IPvSean commented on #1597
Can you give me an example of what you mean and why?

On Tue, Mar 22, 2022 at 5:49 PM willtome ***@***.***> wrote:

[2022-03-23 23:34] 9strands opened #1599 "AAP2 workshops fail to provision when automation_hub is undefined or false"
### Problem Summary

If automation_hub is "false" then, the  entry here is not created:

https://github.com/ansible/workshops/blob/578c89017559092a3594dcefd285a1c362692557/roles/manage_ec2_instances/templates/instructor_inventory/instructor_inventory_rhel.j2#L73

And when this https://github.com/ansible/workshops/blob/edaa98477ec064a92de48f4613d7c98a794ed765/roles/manage_ec2_instances/tasks/invent

[2022-03-24 12:46] IPvSean commented on #1599
I think the problem is actually you passed automation_hub as a string... I need to force inputs into a boolean

[2022-03-24 13:05] IPvSean commented on #1599
this has been merged into `main`

[2022-03-24 13:05] #1599 closed

[2022-03-24 13:06] IPvSean commented on #1597
bump?

[2022-03-24 15:29] cigamit commented on #1436
I ran a Windows workshop yesterday and did not have this issue.  I just went back and tested again, and it completes without error.

[2022-03-30 17:26] imcrowley1 opened #1605 "Windows Automation Exercise 4"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

Exercise 4
Step 3 is a typo
PLAYBOOK    "iis-basic/install_iis.yml" should be "iis_basic/install_iis.yml

[2022-03-31 17:53] rhjcd opened #1608 "RHPDS Windows Workshop deploy fail: subscription issue"
### Problem Summary

Windows workshop in RHPDS fails to deploy due to a missing sub

### Issue Type

Bug

### Extra vars file

AAP2 Windows workshop in RHPDS

### Ansible Playbook Output

TASK [../roles/private_automation_hub : Register and subscribe] ****************
fatal: [automation-hub-host]: FAILED! => {"changed": false, "cmd": "/sbin/subscription-manager register --auto-attach --username an

[2022-04-01 18:13] cloin commented on #1608
This is out of our control as this task relies on username/password for a valid account with proper subscriptions for the product. Please check the red hat portal account that is used by the provisioner for the proper subscriptions and try again.

[2022-04-04 09:04] amathoman opened #1612 "RHPDS deployoment failing with CheckSoftwareDeploy"
### Problem Summary

Hi Team,

I have been trying to deploy the RHPDS workshops (Network or Linux) and have been constantly getting the error CheckSoftwareDeploy.  I have tried Linux and Network workshops in APAC.

I raised this with the RHPDS team and they have suggested i raise an issue on the repo...  Pelase find their response below...

--------------------------------
This is a known error -

[2022-04-04 12:34] cloin commented on #1612
@IPvSean do we have a pool of subscriptions? We can fix the cleanup but if thats happening but I don't think we can free up subs in the pool as username and password are passed as extravars

[2022-04-04 19:23] IPvSean commented on #1612
i just cleaned it up manually for now in access.redhat.com

[2022-04-04 19:23] #1612 closed

[2022-04-04 19:24] IPvSean commented on #1608
this is fixed in our `main` branch now https://github.com/ansible/workshops/issues/1612

[2022-04-04 19:24] #1608 closed

[2022-04-04 19:24] IPvSean commented on #1597
closing due to lack of engagement

[2022-04-04 19:24] IPvSean commented on #1511
this is merged into RHPDS now

[2022-04-04 19:24] #1511 closed

[2022-04-04 19:25] IPvSean commented on #1436
@cloin can you confirm or close this issue?

[2022-04-04 19:46] IPvSean commented on #1419
@anshulbehl should we move these down a directory into like navigator-logs or something so we get best of both worlds?

[2022-04-08 15:01] IPvSean opened #1665 "Remove command-line Linux users from control node"
### Problem Summary

The only purpose that I can think of for the student users is to ascertain which workbench you are on.  I think we can simplify provisioning significantly by copying what we do on Instruqt and have just the user `rhel`

This would let me pre-build a lot of these tasks: `roles/control_node/tasks/20_all_workshop.yml`

and one of them is a significant time suck and ripe for failu

[2022-04-08 15:05] IPvSean opened #1666 "Pre-build images (pre-install Automation controller, and anything else we can do ahead of time)"
### Problem Summary

Provisioning's slowest part is installing Automation controller.  If we pre-install this and publish AMIs we can significantly reduce provision time.

From initial testing:
![image](https://user-images.githubusercontent.com/6537680/162469542-5f6477b0-537a-4cae-8509-1eb10929152c.png)

This is time savings 9 minutes 54 seconds!

### Issue Type

Feature Request

### Extra vars fi

[2022-04-08 15:05] IPvSean commented on #1666
this PR adds this ability to `devel` https://github.com/ansible/workshops/pull/1664

[2022-04-18 15:28] taruch opened #1673 "Inconsistent documentation of timing for each of the playbook runs"
### Area

Smart Management Automation Workshop

### Proposed Changes

In the beginning of the document it called out the time required for each of the playbooks to run.  I thought this was a great idea, but not consistent through the document.

Select Templates and click on thelaunchto the right of the SETUP / Controller job template.
You will be taken to the Jobs > SETUP / Controller output windo

[2022-04-18 15:35] taruch opened #1674 "Request changes to main workshop page"
### Area

Smart Management Automation Workshop

### Proposed Changes

Table of Contents
[Use Cases](https://aap2.demoredhat.com/exercises/ansible_smart_mgmt/#use-cases)
[Lab Diagram](https://aap2.demoredhat.com/exercises/ansible_smart_mgmt/#lab-diagram)
[Guide](https://aap2.demoredhat.com/exercises/ansible_smart_mgmt/#guide)

**Include**  additional sections to match other workshops:
- Presentatio

[2022-04-18 15:38] IPvSean commented on #1674
for @heatmiser

[2022-04-18 15:39] IPvSean commented on #1673
for @heatmiser

[2022-04-18 15:39] taruch commented on #1674
I did a pull, and I'm planning to update the relevant README.md and do a pull request.

[2022-04-18 15:50] taruch opened #1675 "Add a workshop presentation"
### Area

Smart Management Automation Workshop

### Proposed Changes

Create a workshop presentation consistent with Ansible workshops in this series.

[2022-04-18 20:05] taruch opened #1676 "A Note about using Satellite vs. Ansible Automation Platform for this..."
### Area

Smart Management Automation Workshop

### Proposed Changes

Out of the box, Satellite 6 supports [RHEL systems roles](https://access.redhat.com/articles/3050101) (a collection of Ansible Roles) for a limited set of administration tasks. An Ansible Automation Platform subscription is need to execute more complex Ansible jobs, such as OS conversions and upgrades.

This isn’t really true an

[2022-04-20 12:34] taruch opened #1678 "Documentation update - font issue, content"
### Area

Smart Management Automation Workshop

### Proposed Changes

This section has writing that is unreadable due to font color (or rather the color of the font against the highlight).
"""
NOTE For the following job template, review the Variables section of the template, paying particular note to the group_tag_map variable. A mapping of nodes to group names is defined. EC2 tags for these group

[2022-04-27 18:30] VDI-Tech-Guy opened #1682 "Teardown of lab doesn't remove AWS Route 53 A Records for VSCode Server"
### Problem Summary

The Teardown of lab doesnt trigger the deletion of the A Record in Route53 created for the VSCode instance leaving remanant A Records behind.

**Fix is easy (either rename the file teardown_aws.yml to aws.yml or fix the code to be teardown_{{ dns_type }}.yml)**

ls roles/code_server/tasks/dns
[root@DS9 workshops-aap2]# ls -AlFh roles/code_server/tasks/dns/
total 8.0K
-rw-r--r-

[2022-04-27 18:44] VDI-Tech-Guy opened #1683 "F5 Lab not deploying correctly due to incorrect playbook_dir"
### Problem Summary

During testing i was able to figure out there is a code bug located at roles/f5_setup/tasks/main.yml

This code calls for  {{ playbook_dir }} this variable changes when it is called from /git/workshops-aap2/provisioner/workshop_specific

1) /workshop/provisioner/provision.yml calls /workshop/provisioner/workshop_specific/f5.yml
2) /workshop/provisioner/workshop_specific/f5.yml

[2022-04-27 18:53] VDI-Tech-Guy opened #1684 "Teardown Script Fails when Student count 50 or more"
### Problem Summary

When doing Teardown script fails due to AWS Boto Limitation of 200 Filtered objects, the code will scan for all objects related to the provision and fail if there are >200 (at 50 students there are 201 objects) and it will fail due to code issues.

Understanding this is a limitation of BOTO not the workshop either a recoding of the deletion process to delete certain objects fi

[2022-05-02 13:34] anshulbehl commented on #1683
Hi @VDI-Tech-Guy

For some reason I am unable to replicate this one, also the playbook_dir variable id filled by the playbook that is passed to the ansible-playbook command which in your case should be provision_lab.yml
Can you replicate this and if yes, can you paste the ansible-playbook output for me please.

[2022-05-02 18:37] #1683 closed

[2022-05-02 18:47] #1682 closed

[2022-05-02 18:47] IPvSean commented on #1682
fixed in `devel` by @anshulbehl

[2022-05-02 18:56] IPvSean commented on #1684
This is an issue with the boto3 SDK, not Ansible, nor the workshop provisioner-> https://github.com/ansible-collections/amazon.aws/issues/713

here is the boto3 issue->
https://github.com/boto/boto3/issues/1099

[2022-05-04 13:10] taruch opened #1689 "Update for Exercises link"
### Area

Smart Management Automation Workshop

### Proposed Changes

FROM:
Presentations
The exercises are self explanatory and guide the participants through the entire lab. All concepts are explained when they are introduced.

There is an optional presentation available to support the workshops and explain Automation, the basics of Ansible and the topics of the exercises in more detail. Worksho

[2022-05-05 19:05] MKletz opened #1691 "Increase "Idle Time Force Log Out""
### Problem Summary

Often times during demos or workshops we can have some wasted time or hangups do to the forced log outs from the default idle time. Since these are ephemeral non-production environments I think this would be a great harmless quality of life improvement for customer facing activity.

### Issue Type

Feature Request

### Extra vars file

N/A

### Ansible Playbook Output

N/A

##

[2022-05-10 20:16] IPvSean commented on #1689
fixed by fixed by https://github.com/ansible/workshops/pull/1690

[2022-05-10 20:16] #1689 closed

[2022-05-10 20:17] IPvSean commented on #1678
You need to link me to where you are seeing that

[2022-05-10 20:18] IPvSean commented on #1676
@heatmiser FYI

[2022-05-10 20:18] IPvSean commented on #1675
fixed with https://github.com/ansible/workshops/pull/1677

[2022-05-10 20:18] #1675 closed

[2022-05-10 20:18] IPvSean commented on #1674
fixed with https://github.com/ansible/workshops/pull/1677

[2022-05-10 20:18] #1674 closed

[2022-05-11 11:07] taruch commented on #1676
These changes were already made in the last pull request.

[2022-05-11 11:07] #1676 closed

[2022-05-13 11:56] benblasco opened #1704 "Provisioner Instructions (minor issues)"
### Area

Other

### Proposed Changes

Following the one time deployment instructions here:

https://github.com/benblasco/workshops/blob/devel/docs/setup.md

The following items are incorrect and need to be corrected.
- `python3-pywinrm` should read `python3-winrm` (as per Fedora 35)
- collection install refers to requirements.yml, should be collections/requirements.yml
- Pre-requisite to install

[2022-05-13 12:40] benblasco commented on #1704
PR submitted #1705

[2022-05-13 15:30] dpullman-emergent opened #1706 "Security workshop provisioning fails when looking for geerlingguy.repo-epel"
### Problem Summary

When provisioning the security workshop, it fails looking for geerlingguy.repo-epel. This appears to be related to the recent change to add the workshop_specific sub directory. This will also affect the other two workshop specific repos.

### Issue Type

Bug

### Extra vars file

[code]

### Ansible Playbook Output

[code]

### Ansible Version

ansible [core 2.12.3]
  config f

[2022-05-17 10:57] benblasco opened #1709 "AAP 2.0 workshops Windows Slides deck link incorrect"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

Main page points to an old version of the deck:
https://github.com/ansible/workshops/README.md points to the old deck:
https://docs.google.com/presentation/d/1fGHBNpkvXBfwBC385QswcSOBz0xNzDxEc8ZhbuyIoAE/edit#slide=id.g70169698fa_0_159

By contrast the following link points to the AAP 2 spec deck:
https://github.com/ansible/worksh

[2022-05-17 10:59] benblasco commented on #1709
Suggestion: Perhaps we need to get rid of the second page so that we don't end up with the possibility of two locations pointing to two different decks and leading to confusion.

I checked the Network workshop deck, and both links are consistent, but have not confirmed if this is true for the rest of the decks.

[2022-05-17 13:18] mkbredem opened #1710 ""Note" <blockquote> css display issues (can't read)"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

First encountered at the bottom of Section 1: Creating the Playbook in exercise 5 of the windows workshop

![image](https://user-images.githubusercontent.com/56933449/168819944-9ccf7eb6-fff8-4d62-88e4-e437c02c7c95.png)

[2022-05-18 14:30] nleiva opened #1711 "[Network Automation WS] Wrong list of Execution Environments"
### Problem Summary

Step 3 - Examining Execution Environments shows an image with four EE's and references the `ee-supported-rhel8` execution environment, but students only see one EE: `network-ee `

[code]

### Issue Type

Documentation

### Extra vars file

n/a

### Ansible Playbook Output

n/a

### Ansible Version

n/a

### Ansible Configuration

n/a

### Ansible Execution Node

CLI Ansible (A

[2022-05-18 15:12] #1709 closed

[2022-05-18 15:43] cloin commented on #1710
Yeah I see it too. Switching themes doesn't seem to have any affect. I may just look to change these away from blockquotes to a table maybe instead of adding custom CSS.

[2022-05-25 14:23] sillihkram opened #1714 "Survey "preview" Button moved on Controller 4.1.1"
### Area

Ansible Red Hat Enterprise Linux Workshop

### Proposed Changes

In order to view a preview of surveys on Controller 4.1.1 you need to create and enable the survey then save and click the launch then preview tab.

[2022-05-25 15:08] #1710 closed

[2022-05-25 15:13] cloin commented on #1436
Can't reproduce

[2022-05-25 15:13] #1436 closed

[2022-05-25 15:13] cloin commented on #1376
Added exercises back

[2022-05-25 15:13] #1376 closed

[2022-06-01 21:32] craig-br opened #1719 "Security workshop provision - The conditional check 'security_console == 'qradar'' failed."
### Problem Summary

Provisioning security workshop fails with

[code]

### Issue Type

Bug

### Extra vars file

# region where the nodes will live
ec2_region: us-east-1

# name prefix for all the VMs
ec2_name_prefix: craigsec5

# creates student_total of workbenches for the workshop
student_total: 1

# Set the right workshop type, like network, rhel or f5 (see above)
workshop_type: security

# R

[2022-06-02 14:25] jsonesRedHat opened #1720 "Automated Smart Management Workshop Satellite does not have packages"
### Problem Summary

Hi

I hit an issues during "Exercise 1: Compliance / Vulnerability Management" when running through the Ansible Automated Smart Management Workshop.

In Step 5 of Exercise 1 during execution of " SATELLITE / Compliance - OpenSCAP_Configure" Template, node1 attempts to install "openscap-scanner" but fails because satellite does not have package.

 "https://satellite.example.com

[2022-06-02 18:48] craig-br opened #1721 ".gitignore - exclude ./provisioner/roles folder"
### Problem Summary

`provisioner/roles` folder is copied to the upstream repo.  Exclude this directory in `.gitignore`

This is related to #1706

### Issue Type

Bug

### Extra vars file

NA

### Ansible Playbook Output

NA

### Ansible Version

2.12.3

### Ansible Configuration

NA

### Ansible Execution Node

CLI Ansible (Ansible Core)

### Operating System

Fedora 35

[2022-06-02 18:56] #1721 closed

[2022-06-02 19:26] mkbredem opened #1723 "Ansible Security Automation Workshop - lab-inventory/hosts not parsing on cli playbook runs"
### Problem Summary

Exercise 1.2.5 (in security workshop)

run: $ ansible-navigator run whitelist_attacker.yml --mode stdout

[WARNING]:  * Failed to parse /home/student1/lab_inventory/hosts with yaml
plugin: YAML inventory has invalid structure, it should be a dictionary, got:
<class 'ansible.parsing.yaml.objects.AnsibleUnicode'>
[WARNING]:  * Failed to parse /home/student1/lab_inventory/hosts w

[2022-06-02 21:13] mkbredem commented on #1723
Disregard.  I deleted the RHPDS environment and reordered it.  Now I don't have the error

[2022-06-03 15:42] evanstoner commented on #1536
For posterity: on Chrome you can type `thisisunsafe` while you have focus on the QRadar window to get past the certificate issue, even though the "proceed" link is not shown. This bypass word has been known to change.

[2022-06-03 22:23] jsonesRedHat commented on #1720
Problem was resolved by re-spinning workshop. Was advised that this was an intermittent problem with the workshop

Thanks
Jason Sones

[2022-06-03 22:23] #1720 closed

[2022-06-09 19:29] taruch opened #1724 "Workshop Project"
### Area

Other

### Proposed Changes

    <td>Project</td>
    <td>Workshop Project</td>

Workshop Project does not exist at this point in the exercise.  It is called out in the previous section - but does not actually exist in controller.  I had to create the project using the information in the "The Apache-configuration Role" section.
![Screenshot from 2022-06-09 15-29-03](https://user-images.g

[2022-06-15 19:32] evanstoner commented on #1019
Bump, presented a demo today with the problematic language.

[2022-06-22 04:38] KnightRide12 opened #1728 "RHEL workshop credentials issue"
### Problem Summary

Exercise 6 system-roles for RHEL automation workshop asks participants to launch SECURITY / Hardening job template.  The job template will fail as the credentials is not set in the job template and the wrong execution environment is set.  The credentials needs to be set to "Workshop Credential" and the execution environment needs to be set to "rhel_90_workshop execution enviro

[2022-06-22 15:26] dbaugh0310 opened #1729 "Ansible 90 Workshop - Timesync Role Failing"
### Problem Summary

While attempting to run the Linux System Roles exercise the timesync playbook fails because it cannot find the RHEL system role.

### Issue Type

Bug

### Extra vars file

I'm using the lab in rhpds, I don't know where the vars file is.

### Ansible Playbook Output

ERROR! the role 'redhat.rhel_system_roles.timesync' was not found in /runner/project/playbooks/security/roles:/r

[2022-06-22 16:23] abenokraitis commented on #1729
@anshulbehl can you take a look at this one?

[2022-06-22 17:05] cloin commented on #1729
Looks like the EE should have the collection: https://github.com/cloin/ee-builds/runs/6951828498?check_suite_focus=true#step:9:34

[2022-06-22 17:11] anshulbehl commented on #1729
I will work on fixing this.

On Wed, Jun 22, 2022 at 1:05 PM Colin McNaughton ***@***.***>
wrote:

[2022-06-23 14:04] #1729 closed

[2022-06-23 17:09] dbaugh0310 opened #1731 "Ansible 90"
### Problem Summary

If a user clicks the sync button on the project "Ansible official demo project" it fails. When this happens users are unable to run the job in the lab "SECURITY / Hardening".

### Issue Type

Bug

### Extra vars file

Running in RHPDS, I don't have the vars file.

### Ansible Playbook Output

PLAY [Update source tree if necessary] *****************************************

TAS

[2022-06-23 17:32] IPvSean commented on #1724
@anshulbehl since you just fixed the Ansible_90 can you investigate this?

[2022-06-27 13:28] #1704 closed

[2022-06-27 15:52] anshulbehl commented on #1511
Although this enables private automation hub, this ticket talked about adding cloud hub creds to controller for project collection sync to work, which doesn't work yet, I am re-opening the issue

[2022-06-28 16:15] vap0rtranz opened #1735 "Chocolately playbook fixes"
### Area

Ansible Windows Automation Workshop

### Proposed Changes

The Chocolately playbook example won't run because it is missing several variables.  See https://aap2.demoredhat.com/exercises/ansible_windows/8-chocolatey/

These snippets of the install_packages.yml fix the documentation gaps:

[code]
...

[code]

[2022-07-05 13:07] anshulbehl opened #1737 "network lab ami images are not available"
### Problem Summary

Image with filter
name: "cisco-CSR-.16.09.02-BYOL*

Is not available in aws now, need to start using a different image

[code]

### Issue Type

Bug

### Extra vars file

NA

### Ansible Playbook Output

NA

### Ansible Version

NA

### Ansible Configuration

NA

### Ansible Execution Node

CLI Ansible (Ansible Core)

### Operating System

NA

[2022-07-05 14:27] #1714 closed

[2022-07-05 23:28] rhjcd opened #1743 "AAP2 Ansible Networking Workshop fails in RHPDS"
### Problem Summary

The deploys are failing with TASK:

TASK [../roles/manage_ec2_instances : save ami for cisco (NETWORKING MODE)] ****
fatal: [localhost]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: No last item, sequence was empty.\n\nThe error appears to be in '/tmp/aap2-ansible-workshops-58d6/ansible_agnostic_deployer/ansible/workdir/aap2-ansibl

[2022-07-05 23:37] anshulbehl commented on #1743
This is fixed now and merged into workshops main.
I am going to test other labs in DEV before acking a push to
master/aap2-master of gpe repo.

On Tue, Jul 5, 2022 at 7:29 PM Josh Disraeli ***@***.***>
wrote:

[2022-07-05 23:38] #1743 closed

[2022-07-06 17:00] abenokraitis commented on #1731
Looks like a dupe of https://github.com/ansible/workshops/issues/1728

[2022-07-06 17:25] anshulbehl commented on #1728
This should be fixed now for the execution environment part, I will send a PR to attach the workshop credentials

[2022-07-06 17:26] anshulbehl commented on #1724
@dbaugh0310 In which exercise do you see this issue for RHEL and RHEL_90 workshops, I can check accordingly

[2022-07-06 17:29] dbaugh0310 commented on #1724
Exercise 5 requires the workshop project.

[2022-07-07 17:02] taruch opened #1745 "Location of default vars for ec2 AMIs in documentation"
### Area

Other

### Proposed Changes

# default vars for ec2 AMIs (ec2_info) are located in provisioner/roles/manage_ec2_instances/defaults/main/main.yml

They are actually located in roles/manage_ec2_instances/defaults/main/main.yml

[2022-07-12 03:53] 9strands opened #1750 "AAP2 Windows Workshop fails to provision users"
### Problem Summary

AAP2 for Windows Workshop provisions cleanly, but actually fails to provision student users.
Issue is documented here: https://chat.google.com/room/AAAAIFjw_Tw/ImvaeToaUow in the Ansible Workshops & Demos discussion room.

Issue is GUID 1078

Talking with Anshul, we believe this affects all other AAP labs with something in the deployer code changing from using student1-X to on

[2022-07-12 20:38] cloin commented on #1750
It looks like student environments are working fine. However, the link that is created for the student to access vs code had the wrong path to the workshop project.

[2022-07-13 13:34] cloin commented on #1750
@9strands the only thing I found on my first run was that code server didn't open the project directory because there's no studentN home directory. Did you happen to find anything else?

[2022-07-14 08:25] #1723 closed

[2022-07-19 18:34] rnunezrgn opened #1753 "Bug report for Ansible Network Workshop running Private Automation Hub"
### Problem Summary

Hi Folks!
I'm getting the following error message when running Ansible Controller v2.1 Network Workshop using the Private Automation Hub Organization that is trying to pull the collections from the PAHub Lab device:

 "stdout": "Starting galaxy collection install process\nProcess install dependency map",
  "stderr": "[WARNING]: Skipping Galaxy server\nhttps://hub.0608.example.

[2022-07-19 19:08] willtome commented on #1597
Sorry, I missed the updates to this issue. The `Workshop Credential` includes a username and key for connecting to systems. This is a request to add the admin password used to log in to Controller to the password field of the credential. The purpose for this is so that the same credential can be used to connect to Windows systems that only accept username/password without needing additional creden

[2022-07-21 08:30] craig-br opened #1754 "Security workshop - update exercises for new Student user"
### Area

Ansible Security Automation

### Proposed Changes

#### Summary

Exercise text, images and code snippets must be updated to reflect the new single `student` user design. For example, the exercises currently show:

`[student<X>@ansible-1 ~]$ `

This needs to change to
`[student@ansible-1 ~]$ `

[2022-07-21 12:56] IPvSean commented on #1665
this is complete and part of `main`

[2022-07-21 12:56] #1665 closed

[2022-07-21 18:40] rnunezrgn opened #1755 "Bug report for Ansible Network Workshops"
### Problem Summary

This one it's a bizarre but easy-to-solve bug. I was getting the following error when running the "Network Reports" template:

TASK [../roles/build_report : install apache] **********************************
task path: /runner/project/roles/build_report/tasks/main.yml:2
fatal: [ansible-1]: UNREACHABLE! => {"changed": false, "msg": "Invalid/incorrect password: Warning: Permanen

[2022-08-09 13:37] cloin commented on #1750
I believe this can be closed out. The directories were being created, but the link to codeserver didn't have the correct remote path to the project directory.

[2022-08-09 13:37] #1750 closed

[2022-08-09 17:50] perryrivera1 opened #1767 "Bug report for Ansible Workshops"
### Problem Summary

Just a heads up, this CI:
AAP2 Ansible & Smart Management Workshop

is failing provisioning

Guids:
AAP2 Ansible & Smart Management Workshop [rh3742]
AAP2 Ansible & Smart Management Workshop [rh2317]
AAP2 Ansible & Smart Management Workshop [rh65ee]
AAP2 Ansible & Smart Management Workshop [rhfc67]

### Issue Type

Bug

### Extra vars file

NA

### Ansible Playbook Output

[co

[2022-08-09 18:00] perryrivera1 commented on #1767
Please disregard this bug. Edits to the original content do not appear to be updating..